@use 'ngx-scrollbar' as scrollbar;

.example-full-width {
  width: 100%;
}

::ng-deep {
  .ng-scrollbar.mat-timepicker-panel {
    @include scrollbar.ng-scrollbar-overrides((
      track-shape: 8px,
      track-offset: 0px,
      container-offset: 6px,
      track-thickness: 8px,
      track-hover-thickness: 8px,
      thumb-color: var(--color-primary)
    ));
  }
}
