@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    track-offset: 0px,
    track-shape: 0px,
    track-thickness: 6px,
    track-hover-thickness: 10px
  ));

  ::ng-deep {
    .ag-body-vertical-scroll,
    .ag-body-horizontal-scroll {
      display: none;
    }

    .ag-body-viewport {
      overflow: hidden;
    }
  }
}

ag-grid-angular {
  --ag-background-color: var(--surface-container-high);
  --ag-border-color: var(--surface-container-low);
  --ag-header-column-resize-handle-color: var(--surface-container-high);
  --ag-header-background-color: var(--surface-container);
  --ag-range-selection-border-color: var(--color-primary);
  --ag-active-color: var(--color-primary);
  --ag-accent-color: var(--color-primary);
  --ag-text-color: #ece0da;
  --ag-font-size: 12px;
}
