:host {
  ::ng-deep {
    .ag-body-vertical-scroll,
    .ag-body-horizontal-scroll {
      display: none;
    }

    .ag-body-viewport {
      overflow: hidden;
    }
  }

  --scrollbar-thickness: 6px;
  --scrollbar-hover-thickness: 10px;
  --scrollbar-thumb-color: var(--color-primary);
  --scrollbar-track-color: var(--surface-container-low);
  --scrollbar-offset: 0px;
  --scrollbar-border-radius: 0px;
}

ag-grid-angular {
  --ag-background-color: var(--surface-container-high);
  --ag-border-color: var(--surface-container-low);
  --ag-header-column-resize-handle-color: var(--surface-container-high);
  --ag-header-background-color: var(--surface-container);
  --ag-range-selection-border-color: var(--color-primary);
  --ag-active-color: var(--color-primary);
  --ag-accent-color: var(--color-primary);
  --ag-text-color: #ece0da;
  --ag-font-size: 12px;
}
