.input {
  display: flex;
  padding: 5px;

  span {
    width: 200px;
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border: none;
    padding: 5px 8px;
    outline: none;
  }
}
