@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    container-offset: 6px,
    track-thickness: 12px,
    thumb-color: var(--color-primary),
    thumb-hover-color: var(--color-primary),
    thumb-active-color: var(--color-primary),
    thumb-min-size: 20px
  ));
}

.example-virtual-scroll {
  overflow: hidden;
  height: 200px;

  .mat-mdc-list-base {
    padding: 0;
  }

  .ng-scroll-viewport {
    height: 100%;
    border-radius: var(--card-viewport-border-radius);
  }

  .example-item {
    height: 50px;

    color: var(--mat-sidenav-content-text-color);

    &:nth-child(odd) {
      background: var(--surface-container-highest);
    }

    &:nth-child(even) {
      background: var(--surface-container-high);
    }
  }
}
