.example-virtual-scroll {
  overflow: hidden;
  height: 200px;

  .mat-mdc-list-base {
    padding: 0;
  }

  .ng-scroll-viewport {
    height: 100%;
    border-radius: var(--card-viewport-border-radius);
  }

  ng-scrollbar {
    --scrollbar-track-color: var(--surface-container-low);
    --scrollbar-thumb-color: var(--color-primary);
    --scrollbar-thickness: 12px;
    --scrollbar-hover-thickness: 12px;
    --scrollbar-offset: 6px;
    --scrollbar-border-radius: 8px;
  }

  .example-item {
    height: 50px;

    color: var(--mat-sidenav-content-text-color);

    &:nth-child(odd) {
      background: var(--surface-container-highest);
    }

    &:nth-child(even) {
      background: var(--surface-container-high);
    }
  }
}
