.exampleVirtualScroll {
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;
  height: 200px;

  .mat-mdc-list-base {
    padding: 0;
  }

  .cdk-virtual-scroll-viewport {
    height: 100%;
  }

  ng-scrollbar {
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-color: var(--color-primary);
    --scrollbar-thickness: 12;
    --scrollbar-offset: 6;
    --scrollbar-border-radius: 8px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }

  .example-item {
    height: 50px;
    color: black;

    &:nth-child(odd) {
      background: #f1ffff;
    }

    &:nth-child(even) {
      background: #ecf8ff;
    }
  }
}
