@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    track-shape: 6px,
    track-thickness: 12px,
    track-hover-thickness: 12px,
    track-offset: 0px,
    container-offset: 4px,
    track-color: rgb(0 0 0 / 50%),
    thumb-color: linear-gradient(to bottom, var(--color-example3), #EFB436),
    thumb-hover-color: linear-gradient(to bottom, var(--color-example3), #EFB436),
    thumb-active-color: linear-gradient(to bottom, var(--color-example3), #EFB436)
  ));

  ::ng-deep {
    .track-inner {
      box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    }

    .scrollbar-thumb {
      box-shadow: inset 0 -1px 0 #f9df91;
    }
  }
}

.example3 {
  background-color: var(--color-example3);

  ng-scrollbar {
    color: white;
    border-radius: 4px;
  }

  .mat-mdc-card-content {
    margin: 32px;
  }
}

.sample-wrapper {
  border-radius: 4px;
  height: 350px;
  padding: 32px;
  border: 1px solid rgb(0 0 0 / 50%);
  background-color: var(--color-example3-inner);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 20%);
}

.title {
  margin: 0 0 10px;
  text-align: left;
  text-transform: initial;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.text {
  font-size: 14px;

  p {
    margin-bottom: 1.5em;
    line-height: 1.6em;
  }
}

.meta {
  margin-bottom: 2em;
  font-size: .9em;
  color: rgb(255 255 255 / 50%);
}
