.example3 {
  background-color: var(--color-example3);

  ng-scrollbar {
    color: white;
    font-size: 0.9em;
    border-radius: 4px;
    --scrollbar-size: 12px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.5);
    --scrollbar-border-radius: 6px;
  }

  .mat-card-content {
    padding-top: 0;
    margin: 2em;
  }

  ::ng-deep {
    .scrollbar-track {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    }

    .scrollbar-thumb {
      background-image: linear-gradient(to bottom, var(--color-example3), #EFB436);
      box-shadow: inset 0 -1px 0 #f9df91;
    }
  }
}

.sample-wrapper {
  border-radius: 4px;
  height: 350px;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0;
  text-align: left;
  text-transform: initial;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: .4em;
}

.text {
  p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    line-height: 1.6em;
  }
}

.meta {
  margin-bottom: 2em;
  font-size: .9em;
  color: rgba(255, 255, 255, 0.5);
}
