.example3 {
  background-color: var(--color-example3);

  ng-scrollbar {
    color: white;
    border-radius: 4px;
    --scrollbar-thickness: 12px;
    --scrollbar-offset: 4px;
    --scrollbar-track-color: rgb(0 0 0 / 50%);
    --scrollbar-border-radius: 6px;
  }

  .mat-mdc-card-content {
    margin: 32px;
  }

  ::ng-deep {
    .scrollbar-track {
      box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    }

    .scrollbar-thumb {
      background-image: linear-gradient(to bottom, var(--color-example3), #EFB436);
      box-shadow: inset 0 -1px 0 #f9df91;
    }
  }
}

.sample-wrapper {
  border-radius: 4px;
  height: 350px;
  padding: 32px;
  border: 1px solid rgb(0 0 0 / 50%);
  background-color: var(--color-example3-inner);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 20%);
}

.title {
  margin: 0 0 10px;
  text-align: left;
  text-transform: initial;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.text {
  font-size: 14px;

  p {
    margin-bottom: 1.5em;
    line-height: 1.6em;
  }
}

.meta {
  margin-bottom: 2em;
  font-size: .9em;
  color: rgb(255 255 255 / 50%);
}
