
.example3 {
  background-color: #E9B222;
  color: white;
  .sample {
    height: 350px;
    padding: 2em 1.5em 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .title {
    margin: 0;
    text-transform: initial;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: .4em;
  }
  .text {
    padding-right: 2em;
    p {
      font-size: 1.1em;
      margin-bottom: 1.5em;
      line-height: 1.6em;
    }
  }
  .meta {
    margin-bottom: 2em;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.5);
  }

  .scroll-bar {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    &.ng-scrollbar-vertical {
      width: 12px;
    }
  }

  .scroll-thumb {
    background-image: linear-gradient(to bottom, #F5CA47, #EFB436);
    box-shadow: inset 0 1px 0 #f9df91;

    &:after {
      content: '\f0c9';
      font-size: 9px;
      color: #3A2D09;
      font-family: 'FontAwesome';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-rendering: optimizeLegibility;
    }
  }
}
