<div class="example example3">
  <ng-scrollbar class="sample" barClass="scroll-bar" thumbClass="scroll-thumb">
    <div class="box-inner">
      <div class="text">
        <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <div class="meta">Posted 9 hours ago by
          <a href="">noeldelgado</a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere debitis ullam, quae quidem, impedit culpa nam
          repellat in voluptatibus esse ab harum, hic? Aliquam nesciunt voluptates repellendus assumenda labore.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quos voluptate doloribus. Optio unde inventore, tempore
          nemo repellat expedita! Quod, accusamus nobis iure. Aliquam quibusdam, nemo explicabo ipsum provident asperiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, qui, rem! Debitis cum maiores iste, possimus!
          Obcaecati accusamus eaque expedita quo soluta quis, repudiandae similique, veritatis repellendus facere suscipit!
          Et!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum doloremque repellat praesentium quae et consectetur
          iure quos porro, provident voluptates reprehenderit a. Accusamus ut, quaerat asperiores blanditiis voluptate, sint
          facilis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae inventore nobis esse temporibus exercitationem
          eos illo minima non magnam, provident sit doloribus maiores odio in animi quidem unde. Perferendis.</p>
      </div>
    </div>
  </ng-scrollbar>
</div>


<div class="style-source">
  <b>Source image and inspiration from
    <a href="https://dribbble.com/shots/295529-Transparent-Box">Orman Clark
    </a>
  </b>
</div>
