app-logo {
  width: 150px;
  height: 150px;
  margin: 1em auto;
}

.wave-bg {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.container {
  position: relative;
  margin-top: 6em;
}

.header {
  position: relative;
  color: white;
  padding: 2em;
  text-align: center;
  background: var(--color-app-background);

  .logo {
    height: 250px;
    width: 250px;
  }

  h1 {
    margin-bottom: .5em;
    font-weight: 300;
  }

  h3 {
    margin-bottom: 2em;
    font-weight: 300;
  }
}

.badges {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a, iframe {
    margin-top: 7px;
  }

  a {
    margin-left: 7px;
    display: flex;
  }
}

.mat-mdc-outlined-button {
  margin-top: 4em;
  height: 48px;
  border-radius: 30px;

  .button-content-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
  }

  .mat-icon {
    margin-left: 8px;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  .btn-text {
    margin-right: 8px;
    font-size: 18px;
  }

  .btn-icon, .btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
