<!--<div class="row" scrollContent>-->
<div scrollContent>
<!--  <overview-content/>-->

  <div class="container">
    <h1>Scroll to element</h1>

    <overview-content/>

    <div class="wrapper">
      @for (group of groups; track group; let i = $index) {
        <div scrollAnchor
             id="group-{{ group }}"
             linkText="Group {{ group }}"
             class="group">
          <h2 #group>Group {{ group }}</h2>
          @for (section of sections; track section; let j = $index) {
            <div scrollAnchor
                 id="group-{{ group }}-section-{{ section }}"
                 linkText="Section {{ group }} - {{ section }}"
                 class="section">
              <h3>Section {{ group }} - {{ section }}</h3>
              <p> {{ text[i][j] }} </p>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
