.example {
  background-color: var(--color-virtual-scroll-example);
  color: white;
}

.scrolltoExample {
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;
  height: 200px;

  .mat-list-base {
    padding-top: 0;
  }
  ng-scrollbar {
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-color: var(--color-virtual-scroll-example);
    //--scrollbar-size: 8px;
    --scrollbar-size: 12px;
    --scrollbar-padding: 6px;
    --scrollbar-border-radius: 8px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }

  .example-item {

    height: 50px;
    color: black;
    cursor: pointer;

    &:nth-child(odd) {
      background: #f1ffff;
    }

    &:nth-child(even) {
      background: #ecf8ff;
    }

    &:hover{
      background: #d2d2ff;
      color: #fff;
    }
  }

}
