@use '@angular/material' as mat;
@use 'ngx-scrollbar' as scrollbar;

.table-wrapper {
  overflow: hidden;
  height: 250px;
  border-radius: var(--card-viewport-border-radius);
}

ng-scrollbar {
  height: 100%;

  @include scrollbar.ng-scrollbar-overrides((
    track-thickness: 12px,
    track-hover-thickness: 12px,
    track-color: rgb(255 255 255 / 10%),
    thumb-color: var(--color-primary),
    thumb-min-size: 20px,
    track-shape: 0px
  ));
}
