@use 'ngx-scrollbar' as scrollbar;

ng-scrollbar, [ngScrollbar] {
  @include scrollbar.ng-scrollbar-overrides((
    track-thickness: 12px,
    track-color: rgb(255 255 255 / 10%),
    track-hover-thickness: 18px,
    thumb-color: var(--color-primary),
    thumb-min-size: 20px,
    track-shape: 0px
  ));
}
