:host {
  display: flex;
  flex-direction: column;
  padding: 1em;
  --mat-theme-text-primary-on-background: white;
}

.mat-mdc-slide-toggle {
  margin-bottom: .5em;
  &:last-child {
    margin-bottom: 0;
  }
}
