<div class="example example2">
  <div class="sample">
    <header>TODO</header>
    <ng-scrollbar #scrollbars barClass="scroll-bar" thumbClass="scroll-thumb" [compact]="true">
      <ul>
        <li></li>
        <li *ngFor="let item of list"
            [class.not]="!item.completed"
            [class.ok]="item.completed">{{item.title}}</li>
        <li></li>
      </ul>
    </ng-scrollbar>
  </div>

  <button class="btn-gradient blue mini" (click)="addItem(scrollbars)">Add task</button>
</div>

<div class="style-source">
  <b>Source image and inspiration from <a href="https://dribbble.com/shots/229317-Code">Orman Clark</a></b>
</div>
