:host {
  background-color: var(--color-primary);

  @media only screen and (max-width: 600px) {
    .home-button {
      padding-left: 0 !important;
    }
  }

  ::ng-deep {
    button {
      max-height: 100%;

      .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    nav,
    .mat-tab-links,
    .mat-tab-nav-bar.mat-background-primary .mat-tab-link {
      height: 100%;
    }

    nav {
      width: max-content;
    }
  }
}

.mat-toolbar {
  z-index: 999;
  position: relative;
}

app-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.mat-toolbar-single-row {
  height: 56px;
}

.mat-tab-link {
  min-width: 60px;
}

.github-repo {
  img {
    height: 26px;
    margin: 0 4px 3px 0;
  }
}

.ng-scrollbar {
  --scrollbar-padding: 0;
  --scrollbar-border-radius: 0;
  flex: 1;
  height: 100%
}
