ng-scrollbar {
  --scrollbar-thickness: 7;
  --scrollbar-offset: 16;
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 200px;
}

.example {
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
}

.example2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px 3px 0 0;
  padding: 0;
  position: relative;
  width: 200px;
  max-height: 100%;
  background-color: #fff;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    border-color: rgba(0, 0, 0, 0.25);
  }

  &:before {
    width: 96%;
    margin-left: 2%;
    background-color: #ebebeb;
  }

  &:after {
    width: 94%;
    margin: 3px 0 0 3%;
    background-color: #e0e0e0;
  }

  header {
    font-size: 1.1em;
    padding: .2em;
    letter-spacing: 1px;
    background-image: linear-gradient(to bottom, #3d434a, #242931);
    color: white;
    text-shadow: 0 -1px 0 #1c2026;
    text-align: center;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    width: 100%;
  }

  ul {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: #FBCACB;
    }

    &:before {
      left: 2em;
    }

    &:after {
      left: 2.4em;
    }
  }

  li {
    color: #242931;
    font-size: 12px;
    line-height: 24px;
    padding: .25em 1em .25em 3.6em;
    min-height: 27px;
    border-bottom: 1px solid #B8DBFC;
    font-weight: bold;

    &:last-child {
      border-bottom: none;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0.7em;
    }

    &.ok {
      &:before {
        content: '✔';
        color: #518F29;
      }
    }

    &.not {
      color: gray;

      &:after {
        content: '✖';
        color: #FBCACB;
      }
    }
  }
}
