@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    track-shape: 7px,
    track-thickness: 7px,
    //track-hover-thickness: 7px,
    container-offset: 18px,
    track-color: rgb(0 0 0 / 10%),
    thumb-color: rgb(0 0 0 / 20%),
    thumb-hover-color: rgb(0 0 0 / 30%)
  ));
}

ng-scrollbar {
  border: 1px solid rgb(0 0 0 / 25%);
  height: 200px;
  width: 100%;
}

.example {
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
}

.example2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px 3px 0 0;
  padding: 0;
  position: relative;
  width: 200px;
  max-height: 100%;
  background-color: #fff;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    border-color: rgb(0 0 0 / 25%);
  }

  &:before {
    width: 96%;
    margin-left: 2%;
    background-color: #ebebeb;
  }

  &:after {
    width: 94%;
    margin: 3px 0 0 3%;
    background-color: #e0e0e0;
  }

  header {
    font-size: 16px;
    padding: 8px;
    letter-spacing: 1px;
    background-image: linear-gradient(to bottom, #3d434a, #242931);
    color: white;
    text-shadow: 0 -1px 0 #1c2026;
    text-align: center;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    width: 100%;
  }

  ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: #FBCACB;
    }

    &:before {
      left: 32px;
    }

    &:after {
      left: 27px;
    }
  }

  li {
    color: #242931;
    font-size: 12px;
    line-height: 24px;
    padding: .25em 1em .25em 3.6em;
    min-height: 27px;
    border-bottom: 1px solid #B8DBFC;
    font-weight: bold;

    &:last-child {
      border-bottom: none;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0.7em;
    }

    &.ok {
      &:before {
        content: '✔';
        color: #518F29;
      }
    }

    &.not {
      color: gray;

      &:after {
        content: '✖';
        color: #FBCACB;
      }
    }
  }
}
