:host {
  position: relative;
  display: block;
  height: 100%;
}

.fill-lighter {

  use {
    fill: white;
  }
}
.fill-darker {
  use {
    fill: rgb(255 255 255 / 80%);
  }
}
.fill-primary {
  use {
    fill: var(--color-app-logo);
  }
}
