.footer {
  color: white;
  padding: 1em 1em 4em;
  margin: 0 auto;
  position: relative;

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: #55595c;
  }

  img {
    display: block;
  }
}

.wave-bg {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}
