:host {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.reached-event-title {
  margin-bottom: 1em;
}

.mat-chip {
  display: flex;
  justify-content: center;
  transition: background-color ease-out 1s;
  font-size: 12px;
  width: 60px;
  height: 28px;
  min-height: 28px;
  padding: 2px 10px;

  &.changed {
    background-color: var(--color-highlight) !important;
    transition: unset !important;
  }
}
