.example1 {
  background-color: #D85426;
  color: rgba(255, 255, 255, 0.9);
  padding: 0;

  ng-scrollbar {
    --scrollbar-thumb-color: #fff;
    --scrollbar-thumb-hover-color: #fff;
    --scrollbar-border-radius: 5px;
    --scrollbar-padding: 0 10px;
    --scrollbar-size: 10px;
    --scroll-view-margin: 10px;
  }

  ::ng-deep {
    .scroll-bar {
      box-shadow: inset 0 0 0 2px #fff;
    }

    .scroll-thumb {
      box-shadow: 0 0 0 2px #D85426;
    }
  }
}

.content-padding {
  padding: 3em;
}

.buttons-container {
  background-color: #ff7a4c;
  padding: 1em 2.4em;
}

.sample {
  height: 200px;
}

li {
  padding: 1em;
}

p {
  line-height: 1.5em;
}
