<mat-card class="example example1">
  <mat-card-header>
    <mat-card-title>
      Example 1
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-scrollbar class="sample" barClass="scroll-bar" thumbClass="scroll-thumb" visibility="always" [disabled]="disabled" [autoUpdate]="true">
      <div [innerHTML]="expanded ? longContent : shortContent"></div>
    </ng-scrollbar>

  </mat-card-content>

  <mat-card-actions>
    <p>
      <mat-slide-toggle
        class="example-margin"
        [checked]="expanded"
        (change)="expanded = $event.checked">
        Long Content
      </mat-slide-toggle>
    </p>
    <p>
      <mat-slide-toggle
        class="example-margin"
        [checked]="disabled"
        (change)="disabled = $event.checked">
        Disabled
      </mat-slide-toggle>
    </p>
  </mat-card-actions>
</mat-card>
