<div class="example example1">
  <div class="content-padding">
    <ng-scrollbar class="sample" barClass="scroll-bar" thumbClass="scroll-thumb" [disabled]="disabled">
      <b>Lorem ipsum dolor sit amet</b>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet mollitia vero quam, nisi possimus dolorem
        asperiores, molestiae sit voluptatibus alias consequuntur laudantium repellat ea quidem quaerat rerum
        perspiciatis iste adipisci.
      </p>
      <p *ngIf="expanded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maiores maxime corrupti
        quisquam.
        Dignissimos sunt error voluptatibus repellat consequatur illo, aliquid nihil maxime veniam repudiandae,
        provident et sit, reiciendis dicta.</p>
      <p *ngIf="expanded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id amet deserunt
        voluptate
        maiores
        sunt
        aut eligendi totam nesciunt magnam illo consectetur aspernatur at voluptatem, qui unde ullam omnis
        voluptates.</p>
      <p *ngIf="expanded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id assumenda et fugiat placeat enim
        quas,
        voluptas
        odio aperiam in quibusdam beatae eaque minima. Consequuntur pariatur, doloremque, odit dolorem ullam
        sunt!</p>
    </ng-scrollbar>
  </div>
  <div class="buttons-container">
    <button class="btn-gradient yellow mini" (click)="expanded = !expanded">Expanded {{ expanded ? '[ON]' : '[OFF]'}}
    </button>
    <button class="btn-gradient yellow mini" (click)="disabled = !disabled">{{ disabled ? 'Enable' : 'Disable'}}
    </button>
  </div>
</div>

<div class="style-source">
  <b>Source image and inspiration from <a href="https://dribbble.com/shots/544224-Notepad-Full-Version">Matt
    Gentile</a></b>
</div>
