.example1 {
  background-color: #D85426;
  color: rgba(255, 255, 255, 0.9);
  .sample {
    height: 200px;
  }
  .inner {
    padding: 1em 1.5em 1em 0;
  }

  .ng-scrollbar {
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 5px;
    &.-vertical {
      width: 10px;
    }
    .ng-scrollbar-thumb {
      background-color: #fff;
      box-shadow: 0 0 0 2px #D85426;
    }
  }

  li {
    padding: 1em;
  }
}
