@mixin compactVerticalScrollbarStyles() {
  > ng-scrollbar-y {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  // Default position
  &[invertY="false"] {
    &[dir="ltr"] > ng-scrollbar-y {
      right: 0;
      left: unset;
    }

    &[dir="rtl"] > ng-scrollbar-y {
      right: unset;
      left: 0;
    }
  }
  // Invert position
  &[invertY="true"] {
    &[dir="ltr"] > ng-scrollbar-y {
      right: unset;
      left: 0;
    }
    &[dir="rtl"] > ng-scrollbar-y {
      right: 0;
      left: unset;
    }
  }

  // If both scrollbars are visible
  &[direction="both"] {
    &[invertX="false"] > ng-scrollbar-y {
      bottom: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);
    }

    &[invertX="true"] > ng-scrollbar-y {
      top: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);
    }
  }
}
