@mixin fitScrollbar() {
  // If both scrollbars are visible
  &[dir="ltr"] > .ng-scrollbar-container > .ng-custom-scrollbar[axis="horizontal"][fit="true"] {
    right: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);
  }

  &[dir="rtl"] > .ng-scrollbar-container > .ng-custom-scrollbar[axis="horizontal"][fit="true"] {
    left: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);
  }

  &[position="invertY"], &[position="invertAll"] {
    &[dir="ltr"] > .ng-scrollbar-container > .ng-custom-scrollbar[axis="horizontal"][fit="true"] {
      left: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);
    }

    &[dir="rtl"] > .ng-scrollbar-container > .ng-custom-scrollbar[axis="horizontal"][fit="true"] {
      right: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);
    }
  }
}


@mixin compactHorizontalScrollbarStyles() {
  > .ng-scrollbar-container > .ng-custom-scrollbar[axis="horizontal"] {
    position: absolute;
    left: 0;
    right: 0;
    top: unset;
    bottom: 0;
  }

  &[position="invertX"], &[position="invertAll"] {
    > .ng-scrollbar-container > .ng-custom-scrollbar[axis="horizontal"] {
      top: 0;
      bottom: unset;
    }
  }
  &[direction="all"] {
    @include fitScrollbar();
  }
}

