@mixin hideNativeScrollbar() {
  &[disabled="false"] > .ng-scroll-view-container {
    > .ng-scroll-view,
    > .ng-scroll-view > ::ng-deep .ng-custom-scroll-view {
      display: block;
      scrollbar-width: none; /* Firefox 64 */
      -ms-overflow-style: none; /* IE 11 */
      &::-webkit-scrollbar { /** Webkit */
        display: none;
      }
    }
  }
}

