<div class="example exampleX">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lab</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <div ngScrollbar
           class="sample"
           [direction]="direction"
           [appearance]="appearance"
           [visibility]="visibility"
           [position]="position"
           [style]="cssVariables"
           (reachedTop)="reachedTop()"
           (reachedBottom)="reachedBottom()"
           (reachedLeft)="reachedLeft()"
           (reachedRight)="reachedRight()"
           (resized)="resized($event)">
        <div class="inner" [innerHTML]="content"></div>
      </div>

      <mat-divider></mat-divider>

      <div class="reached-events">
        <span>Reached events</span>
        <i style="flex: 1"></i>
        <mat-chip-list>
          <mat-chip color="danger" [class.changed]="reachedTop$ | async">
            <span>Top</span>
          </mat-chip>
          <mat-chip color="danger" [class.changed]="reachedBottom$ | async">
            <span>Bottom</span>
          </mat-chip>
          <mat-chip color="danger" [class.changed]="reachedLeft$ | async">
            <span>Left</span>
          </mat-chip>
          <mat-chip color="danger" [class.changed]="reachedRight$ | async">
            <span>Right</span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Styling
            </mat-panel-title>
            <mat-panel-description>
              CSS variables
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-css-variables-form (value)="setStyle($event)"></app-css-variables-form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Direction
            </mat-panel-title>
            <mat-panel-description>
              {{ directionToggleGroup.value | titlecase }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-button-toggle-group #directionToggleGroup="matButtonToggleGroup"
                                   aria-label="Scrollbar Direction"
                                   [value]="direction"
                                   (change)="direction = $event.value">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="vertical">Vertical</mat-button-toggle>
            <mat-button-toggle value="horizontal">Horizontal</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Positioning
            </mat-panel-title>
            <mat-panel-description>
              {{ positionToggleGroup.value | titlecase }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-button-toggle-group #positionToggleGroup="matButtonToggleGroup"
                                   aria-label="Scrollbar Position"
                                   [value]="position"
                                   (change)="position = $event.value">
            <mat-button-toggle value="native">Native</mat-button-toggle>
            <mat-button-toggle value="invertY">InvertY</mat-button-toggle>
            <mat-button-toggle value="invertX">InvertX</mat-button-toggle>
            <mat-button-toggle value="invertAll">InvertAll</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Visibility
            </mat-panel-title>
            <mat-panel-description>
              {{ visibilityToggleGroup.value | titlecase }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-button-toggle-group #visibilityToggleGroup="matButtonToggleGroup"
                                   aria-label="Scrollbar visibility"
                                   [value]="visibility"
                                   (change)="visibility = $event.value">
            <mat-button-toggle value="native">Native</mat-button-toggle>
            <mat-button-toggle value="always">Always</mat-button-toggle>
            <mat-button-toggle value="hover">Hover</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Appearance
            </mat-panel-title>
            <mat-panel-description>
              {{ appearanceToggleGroup.value | titlecase }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-button-toggle-group #appearanceToggleGroup="matButtonToggleGroup"
                                   aria-label="Scrollbar Appearance"
                                   [value]="appearance"
                                   (change)="appearance = $event.value">
            <mat-button-toggle value="standard">Standard</mat-button-toggle>
            <mat-button-toggle value="compact">Compact</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-actions>


  </mat-card>
</div>
