<div class="container">
  <h2 class="mat-typography">Material Select</h2>

  <app-example-mat-select/>

  <h2 class="mat-typography">Material Autocomplete</h2>

  <app-example-mat-autocomplete/>

  <h2 class="mat-typography">Material Timepicker</h2>

  <app-example-mat-timepicker/>

  <h2 class="mat-typography">Material Dialog</h2>

  <button mat-raised-button (click)="openDialog()">Open dialog</button>

  <h2 class="mat-typography">Material Table</h2>

  <app-example-mat-table/>

  <h2 class="mat-typography">CDK Virtual Scroll</h2>

  <app-example-virtual-scroll/>

  <app-example-virtual-scroll-ext/>

  <h2 class="mat-typography">CDK Nest Virtual Scroll</h2>

  <app-example-nested-virtual-scroll/>
</div>
