@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    track-offset: 0px,
    track-shape: 8px,
    track-thickness: 12px,
    track-hover-thickness: 12px,
    track-color: var(--surface-container-low),
    thumb-color: var(--color-primary)
  ));
}
