<div class="header">

  <img src="assets/logo.svg" alt="ngx-scrollbar logo" class="logo">

  <h1>ngx-scrollbar</h1>

  <h4>Custom overlay-scrollbars with native scrolling mechanism</h4>

  <div class="badges">
    <!--GITHUB STAR-->
    <iframe src="https://ghbtns.com/github-btn.html?user=murhafsousli&repo=ngx-scrollbar&type=star&count=true&size=small" frameborder="0"
            scrolling="0" width="80px" height="20px"></iframe>
    <!--NPM-->
    <a href="https://www.npmjs.com/package/ngx-scrollbar">
      <img data-canonical-src="https://www.npmjs.com/package/ngx-scrollbar" src="https://img.shields.io/npm/v/ngx-scrollbar.svg?maxAge=2592000?style=plastic">
    </a>
    <!--BUILD-->
    <a href="https://travis-ci.org/MurhafSousli/ngx-scrollbar">
      <img data-canonical-src="https://travis-ci.org/MurhafSousli/ngx-scrollbar" src="https://travis-ci.org/MurhafSousli/ngx-scrollbar.svg?branch=master">
    </a>
    <!--LICENSE-->
    <a href="https://github.com/MurhafSousli/ngx-scrollbar/blob/master/LICENSE">
      <img src="https://camo.githubusercontent.com/25d313ccfafb08618b31899a22af11a5b8a79aad/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f6c2f657870726573732e7376673f6d61784167653d32353932303030"
           alt="npm" data-canonical-src="https://img.shields.io/npm/l/express.svg?maxAge=2592000" style="max-width:100%;">
    </a>
    <!--DOWNLOADS-->
    <a href="https://www.npmjs.com/package/ngx-scrollbar">
      <img src="https://img.shields.io/npm/dt/ngx-scrollbar.svg?maxAge=2592000?style=plastic"
           data-canonical-src="https://www.npmjs.com/package/ngx-scrollbar">
    </a>
    <!--MONTHLY DOWNLOADS-->
    <a href="https://www.npmjs.com/package/ngx-scrollbar">
      <img src="https://img.shields.io/npm/dm/ngx-scrollbar.svg"
           data-canonical-src="https://www.npmjs.com/package/ngx-scrollbar">
    </a>
  </div>
</div>

<a class="github-link" href="https://github.com/MurhafSousli/ngx-scrollbar">
  <img style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
       alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
