.example5 {
  color: #686c6e;

  ng-scrollbar {
    --scrollbar-track-color: #f3f4f8;
    --scrollbar-thumb-color: #fff;
    --scrollbar-thumb-hover-color: #fff;
    --scrollbar-offset: 10px;
    --scrollbar-thickness: 10px;
    --scrollbar-border-radius: 5px;
  }

  ::ng-deep {
    .scrollbar-track {
      box-shadow: inset 0 0 0 1px #e8e8ea;
    }

    .scrollbar-thumb {
      box-shadow: inset 0 0 0 1px #c4c4c6;
    }
  }
}

.mat-mdc-card-content {
  margin-top: 0;
  padding: 3em !important;
}

.numbers {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 13px;
  line-height: 17px;
  font-family: monospace;
  text-align: right;
  counter-reset: linecounter;

  li {
    position: relative;
    padding-right: 2px;
    counter-increment: linecounter;
    height: 20px;
    line-height: 24px;
    width: 40px;

    &:before {
      content: counter(linecounter) ".";
      color: rgba(180, 170, 169, 0.87);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 1px;
      left: 100%;
      width: 40px;
      background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0));
      z-index: -1;
    }
  }
}

.sample {
  font-size: 0.9em;
  flex: 1;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3em 0 1.5em;
  border: 1px solid rgb(0 0 0 / 20%);
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    border-color: rgb(0 0 0 / 25%);
    border-radius: 0 0 2px 2px;
  }

  &:before {
    width: 99%;
    bottom: -3px;
    margin-left: 0.5%;
    background-color: #ebebeb;
  }

  &:after {
    width: 98%;
    bottom: -5px;
    margin: 0 0 0 1%;
    background-color: #e0e0e0;
  }
}

.editor {
  display: flex;
  background-image: linear-gradient(to bottom, #c6e2fd 0, rgba(255, 255, 255, 0) 1px);
  background-size: 1px 20px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #fdeaea;
    z-index: 2;
  }

  &:before {
    left: 40px;
  }

  &:after {
    left: 44px;
  }
}

.code-wrapper {
  min-width: 0;
  flex: 1;
}

.line {
  display: block;
  white-space: nowrap;
  height: 20px;
  line-height: 21px;
}

pre {
  white-space: initial;
  overflow: visible;
  margin: 0 10px;
  background-color: transparent;
  color: #8b8a90;
  box-shadow: none;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}
