<div>
  <h2>Sponsors</h2>

  <a href="https://opencollective.com/ngx-scrollbar/contribute/sponsors-11015/checkout">
    <img src="https://opencollective.com/ngx-scrollbar/tiers/sponsors.svg?avatarHeight=64"
         alt="Sponsors on Open Collective">
  </a>

</div>
<div>
  <h2>Backers</h2>

  <a href="https://opencollective.com/ngx-scrollbar/contribute/backers-11014/checkout">
    <img src="https://opencollective.com/ngx-scrollbar/tiers/backers.svg?avatarHeight=64"
         alt="Backers on Open Collective">
  </a>

</div>
