footer {
  padding: 3rem 0;
  font-size: 85%;
  background-color: #f7f7f7;
  text-align: left;

  .heart{
    color: #ff005d;
    }

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: #55595c;
  }

}   