a {
  white-space: normal;
  color: var(--primary-color);
  opacity: 0.5;
  line-height: 20px;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
  text-decoration: underline;
}

ul {
  //padding-left: 10px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 8px;
  padding-top: 8px;

  ul {
    flex-direction: column;
    gap: 8px;
  }
}
