@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    container-offset: 6px,
    track-offset: 0px,
    track-thickness: 12px,
    track-hover-thickness: 12px,
    thumb-color: var(--color-primary),
    thumb-hover-color: var(--color-primary),
    thumb-active-color: var(--color-primary),
  ));
}

.example {
  color: white;
}

.infinite-scroll-container {
  height: 200px;
  overflow: hidden;

  .mat-mdc-list-base {
    padding-top: 0;
  }

  ng-scrollbar {
    ::ng-deep {
      .ng-scroll-viewport {
        border-radius: var(--card-viewport-border-radius);
      }
    }
  }

  .inner {
    width: 140%;
  }

  .example-item {

    color: var(--mat-sidenav-content-text-color);

    &:nth-child(odd) {
      background: var(--surface-container-highest);
    }

    &:nth-child(even) {
      background: var(--surface-container-high);
    }
  }
}
