<mat-card class="example mat-elevation-z16">
  <mat-card-header>
    <mat-card-title>
      Ngx-infinite-scroll Example
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="infinite-scroll-container">
      <ng-scrollbar appearance="compact"
                    style="height: 100%"
                    externalViewport="[infiniteScroll]"
                    externalContentWrapper="mat-list">
        <div class="infinite-scroll"
             infiniteScroll
             [infiniteScrollDistance]="1"
             [infiniteScrollUpDistance]="2"
             [infiniteScrollThrottle]="50"
             [scrollWindow]="false"
             (scrolled)="onScrollDown()"
             (scrolledUp)="onUp()">
          <mat-list>
            @for (i of array; track i) {
              <mat-list-item class="example-item">{{ i }}</mat-list-item>
            }
          </mat-list>
        </div>
      </ng-scrollbar>
    </div>
  </mat-card-content>
</mat-card>


