.example {
  background-color: var(--color-infinite-scroll-example);
  color: white;
}

.infinite-scroll-container {
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;

  .mat-list-base {
    padding-top: 0;
  }

  ng-scrollbar {
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-color: var(--color-infinite-scroll-example);
    --scrollbar-size: 12px;

    height: 200px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }

  .inner {
    width: 140%;
  }

  .example-item {

    &:nth-child(odd) {
      background: #f1ffff;
    }

    &:nth-child(even) {
      background: #ecf8ff;
    }
  }
}
