.example {
  color: white;
}

.infinite-scroll-container {
  height: 200px;
  overflow: hidden;

  .mat-mdc-list-base {
    padding-top: 0;
  }

  ng-scrollbar {
    --scrollbar-track-color: var(--surface-container-low);
    --scrollbar-thumb-color: var(--color-primary);
    --scrollbar-thickness: 10;
    --scrollbar-offset: 6;
    --scrollbar-border-radius: 7px;

    ::ng-deep {
      .ng-scroll-viewport {
        border-radius: var(--card-viewport-border-radius);
      }
    }
  }

  .inner {
    width: 140%;
  }

  .example-item {

    color: var(--mat-sidenav-content-text-color);

    &:nth-child(odd) {
      background: var(--surface-container-highest);
    }

    &:nth-child(even) {
      background: var(--surface-container-high);
    }
  }
}
