.example {
  color: white;
}

.infinite-scroll-container {
  height: 200px;
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;

  .mat-mdc-list-base {
    padding-top: 0;
  }

  ng-scrollbar {
    --scrollbar-track-color: rgb(0 0 0 / 5%);
    --scrollbar-thumb-color: var(--color-primary);
    --scrollbar-thickness: 10;
    --scrollbar-offset: 6;
    --scrollbar-border-radius: 7px;

    border-radius: 3px;
    border: 2px solid rgb(0 0 0 / 5%);
  }

  .inner {
    width: 140%;
  }

  .example-item {

    &:nth-child(odd) {
      background: #f1ffff;
    }

    &:nth-child(even) {
      background: #ecf8ff;
    }
  }
}
