<h3>Author</h3>
<div class="author">
  <div class="author-photo">
    <img src="https://www.gravatar.com/avatar/7261d414a78ed3118aa86a5e0c8a93d1?s=328&d=identicon&r=PG" alt="author-photo">
  </div>
  <div class="author-info">
    <p>Murhaf Sousli</p>
    <p><span>Software Engineer</span></p>
    <div class="author-twitter">
      <a href="https://twitter.com/murhafsousli?ref_src=twsrc%5Etfw" aria-label="Follow @murhafsousli on Twitter">
        <i class="fa fa-twitter"></i>
        <span>twitter.com/murhafsousli</span>
      </a>
    </div>
    <div class="author-twitter">
      <a class="github-button" href="https://github.com/murhafsousli" aria-label="Follow @murhafsousli on GitHub">
        <i class="fa fa-github"></i>
        <span>github.com/murhafsousli</span>
      </a>
    </div>
  </div>
</div>
