:host {
  --side: 100px;
  display: block;
  width: var(--side);
  height: var(--side);
  line-height: var(--side);
  //padding: 1em;
}
.app-card-content {
  background-color: var(--color-accent);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
