:host {
  --side: 90px;
  display: block;
  width: var(--side);
  height: var(--side);
  line-height: var(--side);
  box-sizing: content-box;
  padding: 5px;
  font-size: 50px;
  font-weight: bold;
}

.app-card-content {
  background-color: var(--color-accent);
  color: var(--color-accent-hover);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
