<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
				<img src="assets/logo.svg" alt="ngx-scrollbar logo" class="logo">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>ngx-scrollbar</h1>
				<p>Angular library built with ❤ using ngx-library yeoman generator.</p>
				<p>Scroll down to see it in action!</p>
				<p class="buttons">
					<a class="btn btn-outline-primary btn-lg" href="https://github.com/murhafsousli/ngx-scrollbar" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
        		</p>
			</div>
		</div>

	</div>
</div>

<section class="home">
  <div class="container">
		<!-- put your content here-->
		<p>Put your content here. Typically, examples of your library in action (directives, components...)</p>
		<p>Happy ng-hacking!</p>
  </div>
</section>
