@use '@angular/material' as mat;

/* Ngx-datatable core styles and theme */
@import '../../../node_modules/@swimlane/ngx-datatable/index.css';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


//$app-primary: mat.define-palette($purple-passion-palette, 500);
$app-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$app-accent: mat.m2-define-palette(mat.$m2-orange-palette);
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);
$app-success: mat.m2-define-palette(mat.$m2-light-green-palette);

// Define the theme object.
$app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$orange-palette,
    tertiary: mat.$rose-palette,
  ),
  density: (
    scale: 0,
  )
));

@include mat.core();

@mixin theme($theme) {
  --mat-toolbar-container-background-color: #{mat.get-theme-color($theme, surface-container-high)};
  --mat-option-selected-state-label-text-color: var(--color-primary);
  --mat-sidenav-content-background-color: #{mat.get-theme-color($app-theme, surface-container-highest)};
  --mat-sidenav-container-background-color: #{mat.get-theme-color($app-theme, primary, 50)};

  --color-primary: #{mat.get-theme-color($app-theme, primary, 50)};
  --color-primary-container: #{mat.get-theme-color($app-theme, primary-container)};
  --color-accent: #{mat.get-theme-color($app-theme, secondary, 50)};
  --color-accent-hover: #{mat.get-theme-color($app-theme, secondary, 60)};

  --color-active-link: #{mat.get-theme-color($app-theme, primary, 70)};
  --color-primary-60: #{mat.get-theme-color($app-theme, primary, 60)};

  --color-app-background: #{mat.get-theme-color($app-theme, surface-container-high)};
  --color-app-logo: var(--color-app-background);

  --color-example-5: var(--color-app-background);
  --color-example-2: var(--color-app-background);
  --color-virtual-scroll-example: var(--color-app-background);
  --color-infinite-scroll-example: var(--color-app-background);

  --color-example3: #{mat.get-theme-color($app-theme, primary, 70)};
  --color-example3-inner: #{mat.get-theme-color($app-theme, surface-container)};
  --color-highlight: #{mat.get-theme-color($app-theme, error, 30)};
  --color-highlight-dropped: #{mat.get-theme-color($app-theme, tertiary, 30)};

  --odd-list-item-color: #{mat.get-theme-color($app-theme, primary, 10)};
  --even-list-item-color: #{mat.get-theme-color($app-theme, primary, 20)};
  --list-item-border: 2px solid #{mat.get-theme-color($app-theme, primary, 40)};

  --card-bg-color: #{mat.get-theme-color($app-theme, secondary-container)};
  --surface-container-high: #{mat.get-theme-color($app-theme, surface-container-high)};
  --surface-container-highest: #{mat.get-theme-color($app-theme, surface-container-highest)};
  --surface-container-low: #{mat.get-theme-color($app-theme, surface-container-low)};
  --surface-container: #{mat.get-theme-color($app-theme, surface-container)};

  --card-viewport-border-radius: 5px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--color-app-background);
}

:root {
  @include mat.all-component-themes($app-theme);
  @include theme($app-theme);
}

* {
  // Disables double tap zoom on mobile
  touch-action: manipulation;
}

.primary-bg {
  background-color: var(--color-app-background);
}

.mat-drawer-content {
  overflow: hidden !important;
}

input {
  background: var(--mdc-filled-text-field-container-color);
  color: var(--mdc-filled-text-field-input-text-color);
}

mat-toolbar {
  @include mat.elevation(6);
}

mat-nav-list.mdc-list {
  padding: 8px;
}

mat-card {
  margin: 15px 0;
}

h2 {
  font-weight: 300;
  text-align: center;
  margin: 4em 0;

  &.mat-typography {
    font-size: 1.3em;
  }
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
}

.wide-container {
  max-width: 800px;
  margin: 0 auto;
}

.example-component {
  padding: 2em 0;
  display: block;
  box-sizing: border-box;
}

.mat-mdc-card {
  @include mat.elevation(16);

  color: var(--mat-sidenav-content-text-color);

  .mat-mdc-card-title {
    font-weight: 300;
  }

  .mat-mdc-card-content {
    margin-top: 2em;
    padding: 16px;
  }
}

.input {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;

  span {
    width: 200px;
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    border-radius: 4px;
    border: none;
    padding: 5px 8px;
    outline: none;
  }
}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

.mat-mdc-select-panel {
  padding: 0 !important;
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: var(--color-primary);
}
