@use '@angular/material' as mat;

/* Ngx-datatable core styles and theme */
@import '../../../node_modules/@swimlane/ngx-datatable/index.css';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

:root {
  --color-primary: #ff8e36;
  --color-app-background: #2f2926;

  --color-active-link: var(--color-primary);

  --color-example-5: var(--color-app-background);
  --color-example-2: var(--color-app-background);
  //--color-virtual-scroll-example: var(--color-app-background);
  //--color-infinite-scroll-example: var(--color-app-background);

  --color-example3: var(--color-primary);
  --color-example3-inner: var(--color-app-background);

  //--card-bg-color: #{mat.get-theme-color($app-theme, secondary-container)};
  --surface-container-high: var(--color-app-background);
  --surface-container-highest: #3f3834;
  --surface-container-low: #201a17;
  --color-accent: #90715d;
  --color-accent-hover: #ab8a75;
  --surface-container: #241e1b;

  --color-highlight: #93000a;
  --color-highlight-dropped: #8f0045;

  --scrollbar-thumb-color: var(--color-highlight);

  --card-viewport-border-radius: 5px;


  --p-select-color: #fff;
  --p-select-dropdown-color: #fff;
  --p-select-background: var(--surface-container-high);
  --p-select-overlay-background: var(--surface-container-high);
  --p-select-border-color: var(--surface-container-highest);
  --p-select-hover-border-color: var(--color-primary);
  --p-select-focus-border-color: var(--color-primary);
  --p-select-option-selected-background: var(--color-accent);
  --p-select-option-selected-focus-background: var(--color-accent);
  --p-select-option-focus-background: rgba(236, 224, 218, .08);
  --p-select-focus-ring-color: var(--color-primary);
  --p-select-focus-ring-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--color-primary), transparent 80%);


  @include mat.toolbar-overrides((
    //container-background-color: orange,
    //container-text-color: red,
  ));

  @include mat.select-overrides((
    //panel-background-color: orange,
    //enabled-trigger-text-color: red,
  ));

  @include mat.slide-toggle-overrides((
    //track-outline-color: orange,
    //disabled-unselected-track-outline-color: red,
  ));

  @include mat.list-overrides((
    //active-indicator-color: orange,
    //list-item-container-color: red,
    list-item-selected-container-color: #ff8e36,
    active-indicator-color: #ff8e36
  ));

  @include mat.sidenav-overrides((
    container-background-color: #bc5d00,
    content-background-color: #3f3834
  ));

  @include mat.expansion-overrides((
    container-background-color: #2f2926
  ));

  @include mat.card-overrides((
    elevated-container-color: #201a17
  ));
}

@mixin theme($theme) {
  --color-primary-container: #{mat.get-theme-color($app-theme, primary-container)};
  --color-accent: #{mat.get-theme-color($app-theme, secondary, 50)};
  --color-accent-hover: #{mat.get-theme-color($app-theme, secondary, 60)};

  --color-primary-60: #{mat.get-theme-color($app-theme, primary, 60)};

  --color-app-logo: var(--color-app-background);

  --color-highlight: #{mat.get-theme-color($app-theme, error, 30)};
  --color-highlight-dropped: #{mat.get-theme-color($app-theme, tertiary, 30)};

  --odd-list-item-color: #{mat.get-theme-color($app-theme, primary, 10)};
  --even-list-item-color: #{mat.get-theme-color($app-theme, primary, 20)};
  --list-item-border: 2px solid #{mat.get-theme-color($app-theme, primary, 40)};
}

html {
  @include mat.theme((
    color: (
      primary: mat.$orange-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--color-app-background);
  //height: 110vh;
}

* {
  // Disables double tap zoom on mobile
  touch-action: manipulation;
}

.primary-bg {
  background-color: var(--color-app-background);
}

.mat-drawer-content {
  overflow: hidden !important;
}

input {
  background: var(--mdc-filled-text-field-container-color);
  color: var(--mdc-filled-text-field-input-text-color);
}

mat-nav-list.mdc-list {
  padding: 8px;
}

mat-card {
  margin: 15px 0;
}

h2 {
  font-weight: 300;
  text-align: center;
  margin: 4em 0;

  &.mat-typography {
    font-size: 1.3em;
  }
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
}

.wide-container {
  max-width: 800px;
  margin: 0 auto;
}

.example-component {
  padding: 2em 0;
  display: block;
  box-sizing: border-box;
}

.mat-mdc-card {
  @include mat.elevation(16);

  color: var(--mat-sidenav-content-text-color);

  .mat-mdc-card-title {
    font-weight: 300;
  }

  .mat-mdc-card-content {
    margin-top: 2em;
    padding: 16px;
  }
}

.input {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;

  span {
    width: 200px;
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    border-radius: 4px;
    border: none;
    padding: 5px 8px;
    outline: none;
  }
}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

.mat-mdc-select-panel {
  padding: 0 !important;
  //--mat-minimal-pseudo-checkbox-selected-checkmark-color: var(--color-primary);
}


.p-select-overlay {
  --scrollbar-track-color: var(--surface-container-low);
  --scrollbar-thumb-color: var(--color-primary);
  --scrollbar-thickness: 10;
  --scrollbar-hover-thickness: 10;
  --scrollbar-offset: 6;
  --scrollbar-border-radius: 7px;

  overflow: hidden;
}
