@use '@angular/material' as mat;
@use 'ngx-scrollbar' as scrollbar;

/* Ngx-datatable core styles and theme */
@import '../../../node_modules/@swimlane/ngx-datatable/index.css';
@import '../../../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

:root {
  color-scheme: light dark;
  --color-primary: #ff8e36;
  --color-app-background: #2f2926;

  --color-active-link: var(--color-primary);

  --color-example-5: var(--color-app-background);
  --color-example-2: var(--color-app-background);

  --color-example3: var(--color-primary);
  --color-example3-inner: var(--color-app-background);

  --surface-container-high: var(--color-app-background);
  --surface-container-highest: #3f3834;
  --surface-container-low: #201a17;
  --color-accent: #90715d;
  --color-accent-hover: #ab8a75;
  --surface-container: #241e1b;

  --color-highlight: #00938e;
  --color-highlight-dropped: #008f58;

  --card-viewport-border-radius: 5px;


  --p-select-color: #fff;
  --p-select-dropdown-color: #fff;
  --p-select-background: var(--surface-container-high);
  --p-select-overlay-background: var(--surface-container-high);
  --p-select-border-color: var(--surface-container-highest);
  --p-select-hover-border-color: var(--color-primary);
  --p-select-focus-border-color: var(--color-primary);
  --p-select-option-selected-background: var(--color-accent);
  --p-select-option-selected-focus-background: var(--color-accent);
  --p-select-option-focus-background: rgba(236, 224, 218, .08);
  --p-select-focus-ring-color: var(--color-primary);
  --p-select-focus-ring-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--color-primary), transparent 80%);


  @include mat.toolbar-overrides((
    container-background-color: #181210
  ));

  @include mat.list-overrides((
    list-item-selected-container-color: var(--color-primary),
    active-indicator-color: var(--color-primary)
  ));

  @include mat.sidenav-overrides((
    container-background-color: #bc5d00,
    content-background-color: #3f3834
  ));

  @include mat.expansion-overrides((
    container-background-color: #2f2926
  ));

  @include mat.table-overrides((
    background-color: var(--surface-container-high)
  ));

  @include scrollbar.ng-scrollbar-overrides((
    track-color: rgb(0 0 0 / 30%),
    thumb-color: rgb(255 255 255 / 40%),
    track-thickness: 18px,
    track-hover-thickness: 24px,
    track-shape: 7px,
    thumb-min-size: 20px,
    track-offset: 5px
  ));
}

html {
  @include mat.theme((
    color: (
      primary: mat.$orange-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--color-app-background);
}

* {
  // Disables double tap zoom on mobile
  touch-action: manipulation;
}

.primary-bg {
  background-color: var(--color-app-background);
}

.mat-drawer-content {
  overflow: hidden !important;
}

input {
  background: var(--mat-form-field-filled-container-color);
  color: var(--mat-form-field-filled-input-text-color);
}

mat-nav-list.mdc-list {
  padding: 8px;
}

mat-card {
  margin: 15px 0;
}

h2 {
  font-weight: 300;
  text-align: center;
  margin: 4em 0;

  &.mat-typography {
    font-size: 1.3em;
  }
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
}

.wide-container {
  max-width: 800px;
  margin: 0 auto;
}

.example-component {
  padding: 2em 0;
  display: block;
  box-sizing: border-box;
}

.mat-mdc-card {
  @include mat.elevation(16);

  color: var(--mat-sidenav-content-text-color);

  .mat-mdc-card-title {
    font-weight: 300;
  }

  .mat-mdc-card-content {
    margin-top: 2em;
    padding: 16px;
  }
}

.input {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;

  span {
    width: 200px;
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    border-radius: 4px;
    border: none;
    padding: 5px 8px;
    outline: none;
  }
}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

.p-select-overlay {

  overflow: hidden;

  @include scrollbar.ng-scrollbar-overrides((
    track-color: var(--surface-container-low),
    thumb-color: var(--color-primary),
    thumb-hover-color: var(--color-primary),
    thumb-active-color: var(--color-primary),
    track-thickness: 8px,
    track-hover-thickness: 8px,
    container-offset: 6px,
    track-shape: 7px,
    track-offset: 0px,
  ));
}
