<mat-card class="example">
  <mat-card-header>
    <mat-card-title>
      Infinite Scroll Example
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example exampleInfiniteScroll">
      <ng-scrollbar class="sample" appearance="compact" [autoUpdate]="false">
        <mat-list customScrollView
                  smoothScroll
                  infinite-scroll
                  [infiniteScrollDistance]="scrollDistance"
                  [infiniteScrollUpDistance]="scrollUpDistance"
                  [infiniteScrollThrottle]="throttle"
                  [scrollWindow]="false"
                  (scrolled)="onScrollDown($event)"
                  (scrolledUp)="onUp($event)">
          <mat-list-item class="example-item"
                         *ngFor="let i of array">
            {{ i }}
          </mat-list-item>
        </mat-list>
      </ng-scrollbar>
    </div>
  </mat-card-content>
</mat-card>


