.exampleInfiniteScroll {
  background-color: #f3f3f3;

  .sample {
    height: 200px;
  }

  .mat-list-base {
    padding-top: 0;
  }

  ng-scrollbar {
    --scrollbar-color: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-color: var(--color-primary);
    --scrollbar-size: 16px;
    --scrollbar-border-radius: 10px;
    --scroll-view-margin: 0;
    max-height: 200px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }

  .inner {
    width: 140%;
  }

  .example-item {
    //height: 50px;
    //display: flex;
    //align-items: center;
    //padding-left: 2em;
    //position: relative;

    &:nth-child(odd) {
      background: #f1ffff;
    }

    &:nth-child(even) {
      background: #ecf8ff;
    }
  }
}
