<div class="lab-container">
  <mat-card class="mat-elevation-z16">
    <mat-card-content>
      <div class="column column-controls">
        <app-resize-form [(value)]="slider"/>

        <mat-accordion>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Options
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="lab-control">
              <div class="lab-control-label">Orientation</div>
              <mat-button-toggle-group aria-label="Scrollbar Orientation"
                                       [(value)]="orientation">
                <mat-button-toggle value="auto">Auto</mat-button-toggle>
                <mat-button-toggle value="vertical">Vertical</mat-button-toggle>
                <mat-button-toggle value="horizontal">Horizontal</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Position</div>
              <mat-button-toggle-group aria-label="Scrollbar Position"
                                       [(value)]="position">
                <mat-button-toggle value="native">Native</mat-button-toggle>
                <mat-button-toggle value="invertY">InvertY</mat-button-toggle>
                <mat-button-toggle value="invertX">InvertX</mat-button-toggle>
                <mat-button-toggle value="invertAll">InvertAll</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Visibility</div>
              <mat-button-toggle-group aria-label="Scrollbar visibility"
                                       [(value)]="visibility">
                <mat-button-toggle value="native">Native</mat-button-toggle>
                <mat-button-toggle value="visible">Visible</mat-button-toggle>
                <mat-button-toggle value="hover">Hover</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Appearance</div>
              <mat-button-toggle-group aria-label="Scrollbar Appearance"
                                       [(value)]="appearance">
                <mat-button-toggle value="native">Native</mat-button-toggle>
                <mat-button-toggle value="compact">Compact</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Direction</div>
              <mat-button-toggle-group aria-label="Direction"
                                       [(value)]="direction">
                <mat-button-toggle value="ltr">LTR</mat-button-toggle>
                <mat-button-toggle value="rtl">RTL</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Buttons</div>
              <mat-button-toggle-group aria-label="Buttons"
                                       [(value)]="buttons">
                <mat-button-toggle [value]="true">True</mat-button-toggle>
                <mat-button-toggle [value]="false">False</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Disable interactions</div>
              <mat-button-toggle-group aria-label="Disable interactions"
                                       [(value)]="interactionDisabled">
                <mat-button-toggle [value]="true">True</mat-button-toggle>
                <mat-button-toggle [value]="false">False</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Disable sensor</div>
              <mat-button-toggle-group aria-label="Disable resize sensor"
                                       [(value)]="disableSensor">
                <mat-button-toggle [value]="true">True</mat-button-toggle>
                <mat-button-toggle [value]="false">False</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Disable reached events</div>
              <mat-button-toggle-group aria-label="Disable reached events"
                                       [(value)]="disableReached">
                <mat-button-toggle [value]="true">True</mat-button-toggle>
                <mat-button-toggle [value]="false">False</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="lab-control">
              <div class="lab-control-label">Disable dropped events</div>
              <mat-button-toggle-group aria-label="Disable dropped events"
                                       [(value)]="disableDropped">
                <mat-button-toggle [value]="true">True</mat-button-toggle>
                <mat-button-toggle [value]="false">False</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="input">
              <span>Sensor throttle time</span>
              <input type="number" [(ngModel)]="sensorThrottleTime">
            </div>

            <div class="input">
              <span>Track scroll duration</span>
              <input type="number" [(ngModel)]="trackScrollDuration">
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Styling
              </mat-panel-title>
              <mat-panel-description>
                CSS variables options
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-css-variables-form (value)="setStyle($event)"/>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="column column-cmp">

        <div style="height: 300px">
          <div class="cmp-container"
               nz-resizable
               [nzMaxWidth]="450"
               [nzMaxHeight]="500"
               [nzMinWidth]="80"
               [nzMinHeight]="80"
               [style.height.px]="height"
               [style.width.px]="width"
               (nzResize)="onResize($event)">

            <ng-scrollbar class="sample"
                          [class.highlight-layout]="toggle.highlight"
                          [orientation]="orientation"
                          [appearance]="appearance"
                          [visibility]="visibility"
                          [position]="position"
                          [style]="cssVariables"
                          [buttons]="buttons"
                          [disableInteraction]="interactionDisabled"
                          [disableSensor]="disableSensor"
                          [sensorThrottleTime]="sensorThrottleTime"
                          [trackScrollDuration]="trackScrollDuration"
                          [dir]="direction"
                          (reachedTop)="onReached('top')"
                          (reachedStart)="onReached('start')"
                          (reachedEnd)="onReached('end')"
                          (reachedBottom)="onReached('bottom')"
                          [disableReached]="disableReached"
                          (droppedTop)="onDropped('top')"
                          (droppedStart)="onDropped('start')"
                          (droppedEnd)="onDropped('end')"
                          (droppedBottom)="onDropped('bottom')"
                          [disableDropped]="disableDropped">
              <div class="inner"
                   [style.width.px]="(component.nativeElement.offsetWidth - (appearance === 'native' ? +variables.thickness + (+variables.trackOffset * 2) : 0)) * slider.contentWidth"
                   [innerHTML]="content"></div>

              <div *ngIf="scrollToElementSelected" id="target">
                <app-logo></app-logo>
              </div>

            </ng-scrollbar>

            <nz-resize-handle nzDirection="bottomRight">
              <span class="bottom-right" nz-icon nzType="caret-up" nzTheme="outline" [nzRotate]="135"></span>
            </nz-resize-handle>
          </div>
        </div>

        <div>
          <app-reached-notifier [reached]="reached()" [dropped]="dropped()"/>
        </div>

        <mat-accordion>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Scrolling
              </mat-panel-title>
              <mat-panel-description>
                Smooth scroll options
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-smooth-scroll-form [reached]="scrollReached()"
                                    (scrollTo)="onScrollTo($event)"
                                    (scrollToElementSelected)="scrollToElementSelected = $event"/>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
  </mat-card>
</div>
