<app-header/>

<!--@if (!(platform.IOS || platform.ANDROID)) {-->
<!--  <app-lab/>-->
<!--}-->

<div class="container">
  <h2 class="mat-typography">Examples</h2>

  <button mat-button (click)="reachedDisabled = !reachedDisabled">disable reached events</button>


  <ng-scrollbar externalViewport="#test"
                externalContentWrapper="#content"
                [disableReached]="reachedDisabled"
                (droppedTop)="log('droppedTop')"
                (droppedBottom)="log('droppedBottom')"
                (reachedStart)="log('reachedStart')"
                (reachedTop)="log('reachedTop')"
                (reachedBottom)="log('reachedBottom')">
    <div id="test" style="height: 125px">
      <div id="content" style="height: 500px">
        <div>Hello world</div>
      </div>
    </div>
  </ng-scrollbar>

  <ng-scrollbar externalViewport="#test2">
    <div id="test2" style="height: 125px">
      <div id="content2" style="height: 500px">Hello world</div>
    </div>
  </ng-scrollbar>

  <!--  <div ngScrollbar-->
  <!--       externalViewport="#test"-->
  <!--       externalContentWrapper="#content">-->
  <!--    <div id="test" style="height: 125px">-->
  <!--      <div id="content" style="height: 500px">-->
  <!--        <div>Hello world</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div ngScrollbar-->
  <!--       externalViewport="#test2">-->
  <!--    <div id="test2" style="height: 125px">-->
  <!--      <div id="content2" style="height: 500px">Hello world</div>-->
  <!--    </div>-->
  <!--  </div>-->

  <button mat-button (click)="show = !show">show</button>

  <ng-scrollbar #t
                externalViewport="#asyncViewport"
                externalContentWrapper="#asyncContent"
                externalSpacer="#asyncSpacer"
                asyncDetection="auto"
                (afterInit)="x(t)">
    @if (show) {
      <div id="asyncViewport" style="position: relative; height: 100px">
        <div id="asyncContent">
          <div class="content-sample">Content Sample</div>
        </div>
        <div id="asyncSpacer" style="position: absolute; top: 0; height: 300px"></div>
      </div>
    }
  </ng-scrollbar>

  <!--  <button mat-button (click)="test()">Test</button>-->

  <!--  @if (flag) {-->
  <!--    <div id="test" style="height: 125px">-->
  <!--      <div style="height: 500px">Hello world</div>-->
  <!--    </div>-->
  <!--  }-->
  <!--    <app-example2/>-->

  <!--  <app-example3/>-->

  <!--  <app-example5/>-->
</div>
