.example4 {
  background-color: #f8f8f8;
  color: #686c6e;

  .mat-mdc-card-content {
    margin-top: 0;
    padding: 2em;
    font-size: 0.9em;
  }

  ::ng-deep {
    ng-scrollbar {
      background-color: #f8f8f8;
      --scrollbar-thickness: 6;
      --scrollbar-track-color: rgb(0 0 0 / 15%);
      --scrollbar-thumb-color: #fff;
      --scrollbar-border-radius: 3px;
      border-radius: 3px;
    }

    .scrollbar-track {
      box-shadow: inset 0 1px 3px rgb(0 0 0 / 50%);, inset 0 0 2px rgb(0 0 0 / 20%),
        0 0 0 1px rgb(255 255 255 / 50%);
      overflow: unset;
    }

    .scrollbar-thumb {
      box-shadow: 0 0 0 .5px rgb(0 0 0 / 60%), 0 .5px 1px rgb(0 0 0 / 60%);
    }
  }
}

.sample-wrapper {
  padding: 1em;
  height: 228px;
}

.sample {
  height: 200px;
}

p {
  line-height: 1.5em;
}
