<mat-card>
  <mat-card-header>
    <mat-card-title>PrimeNg Select</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-scrollbar externalViewport=".p-select-list-container"
                  externalContentWrapper=".p-select-list"
                  asyncDetection="auto">
      <p-select [options]="cities"
                [(ngModel)]="selectedCity"
                placeholder="Select a City"
                [editable]="true"
                optionLabel="name"/>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>PrimeNg Select (appendTo="body")</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p-select [options]="cities"
              [(ngModel)]="selectedCity"
              (onShow)="onShow()"
              (onHide)="onHide()"
              placeholder="Select a City"
              [editable]="true"
              appendTo="body"
              optionLabel="name"/>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>PrimeNg Select (Virtual Scroll)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-scrollbar externalViewport=".p-virtualscroller"
                  externalContentWrapper=".p-virtualscroller-content"
                  externalSpacer=".p-virtualscroller-spacer"
                  asyncDetection="auto">
      <p-select [options]="cars"
                [(ngModel)]="selectedCar"
                placeholder="Select Option"
                optionLabel="brand"
                [virtualScroll]="true"
                [virtualScrollItemSize]="40"/>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>PrimeNg Table</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-scrollbar externalViewport=".p-virtualscroller"
                  externalContentWrapper=".p-datatable-scrollable-table"
                  appearance="compact">
      <p-table [columns]="cols"
               [value]="cars"
               [scrollable]="true"
               scrollHeight="250px"
               [virtualScroll]="true"
               [virtualScrollItemSize]="46">
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (col of columns; track col.header) {
              <th style="width: 25%;">{{ col.header }}</th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body"
                     let-rowData
                     let-columns="columns">
          <tr style="height:46px">
            @for (col of columns; track col.header) {
              <td>{{ rowData[col.field] }}</td>
            }
          </tr>
        </ng-template>
      </p-table>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-header>
    <mat-card-title>PrimeNg Scroller</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-scrollbar externalViewport=".p-virtualscroller"
                  externalContentWrapper=".p-virtualscroller-content"
                  externalSpacer=".p-virtualscroller-spacer"
                  appearance="compact">
      <p-scroller [items]="cars"
                  [itemSize]="50"
                  scrollHeight="200px">
        <ng-template pTemplate="item" let-item>
          <div class="item">{{ item.vin }}</div>
        </ng-template>
      </p-scroller>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>
