@if (breakpointState(); as breakpoint) {
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="breakpoint.isHandset ? 'dialog' : 'navigation'"
                 [mode]="breakpoint.isHandset ? 'over' : 'side'"
                 [opened]="!breakpoint.isHandset">
<!--      <mat-toolbar class="mat-elevation-z6">-->
<!--        <app-logo/>-->
<!--        <span>ngx-scrollbar</span>-->
<!--      </mat-toolbar>-->
      <mat-nav-list>
        <a mat-list-item
           routerLink="/"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
        <a mat-list-item
           routerLink="/material"
           routerLinkActive="active-link">
          Material Integration
        </a>
        <a mat-list-item
           routerLink="/other-integrations"
           routerLinkActive="active-link">
          Other Integrations
        </a>
        <a mat-list-item
           routerLink="/scrollto-element"
           routerLinkActive="active-link">
          Scroll To Element
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        @if (breakpoint.isHandset) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <app-logo/>
        <span>ngx-scrollbar</span>
      </mat-toolbar>

      <ng-scrollbar class="main-scrollbar"
                    orientation="vertical"
                    thumbClass="app-scrollbar-thumb"
                    appearance="compact"
                    withButtons>

        <div class="page-wrapper">
          <router-outlet/>

          <div class="wide-container">
            <app-sponsors/>
          </div>
        </div>

        <app-footer/>
      </ng-scrollbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
}
