.sidenav-container {
  height: 100%;
}

app-logo {
  padding: 5px 10px 5px 0;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

mat-sidenav {
  width: 220px;

  --mdc-list-list-item-label-text-color: white;
  --mdc-list-list-item-focus-label-text-color: white;
  --mdc-list-list-item-hover-label-text-color: white;
}

.active-link {
  background: var(--color-active-link);
}

.wrapper {
  height: 300px;
  width: 300px;
  margin: 50px;
  overflow: auto;
  position: relative;
}

.content {
  height: 600px;
  width: 600px;
}

.grid-test {
  display: grid;
  grid-template-rows: 1fr [scrollbar] 30px;
  grid-template-columns: 1fr [scrollbar] 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 600px;
}

.grid-bar-x,
.grid-bar-y {
  position: sticky;
}

.grid-bar-x {
  bottom: 0;
  left: 0;
  width: 253px;
  height: 30px;
  background: #6565ff;
}

.grid-bar-y {
  right: 0;
  top: 0;
  height: 253px;
  width: 30px;
  background: #643761;
}

.page-wrapper {
  --scrollbar-track-thickness: 12px;
  --scrollbar-track-hover-thickness: 12px;
}
