<ng-scrollbar #scrollEl barClass="main-bar">

  <div class="container">
    <app-header></app-header>

    <div class="scroll-buttons">
      <button class="btn-gradient orange mini" (click)="scrollEl.scrollYTo(350, 200)">Example 1</button>
      <button class="btn-gradient green mini" (click)="scrollEl.scrollYTo(800, 300)">Example 2</button>
      <button class="btn-gradient purple mini" (click)="scrollEl.scrollYTo(1200, 400)">Example 3</button>
      <button class="btn-gradient cyan mini" (click)="scrollEl.scrollYTo(1700, 500)">Example 4</button>
      <button class="btn-gradient blue mini" (click)="scrollEl.scrollToBottom(600)">Example 5</button>
    </div>

    <app-example1></app-example1>

    <app-example2></app-example2>

    <app-example3></app-example3>

    <app-example4></app-example4>

    <app-example5></app-example5>

    <div class="scroll-buttons">
      <button class="btn-gradient red small" (click)="scrollEl.scrollToTop(500)">Scroll to top</button>
    </div>

    <app-footer></app-footer>
  </div>

</ng-scrollbar>

