.scroll-buttons {
  margin: 1em 0 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  button {
    flex: 1;
  }
}

ng-scrollbar {
  --scrollbar-gap: 6px;
  --scrollbar-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-color: #28A6C6;
  --scrollbar-thumb-hover-color: #30c0e5;
  --scrollbar-size: 8px;
}

::ng-deep {
  .main-scrollbar {
    transition: all linear 100ms;
    --scrollbar-border-radius: 8px;

    &:hover, &:active {
      --scrollbar-size: 12px;
    }
  }
}
