ng-scrollbar, ngscrollbar {
  --scrollbar-gap: 2px;
  --scrollbar-color: rgba(0, 0, 0, 0.1);
  //--scrollbar-thumb-color: var(--color-primary);
  //--scrollbar-thumb-hover-color: var(--color-primary);
  --scrollbar-thumb-color: var(--color-accent);
  --scrollbar-thumb-hover-color: var(--color-accent);
  --scrollbar-size: 8px;
}

::ng-deep {
  .main-scrollbar {
    transition: all ease-in 300ms;
    --scrollbar-border-radius: 8px;

    &:hover, &:active {
      width: calc(var(--scrollbar-size) * 1.35);
    }
  }
}

.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
