<app-navigation-toolbar [scrollable]="scrollable"></app-navigation-toolbar>

<ng-scrollbar ngScrollbar
              #scrollable="ngScrollbar"
              barClass="main-scrollbar"
              appearance="compact"
              position="invertY"
              (reachedBottom)="showGoToTopButton = true"
              [ngScrollbarOffset]="200">

  <app-header></app-header>

  <div class="container">
    <app-example-x></app-example-x>

    <app-example1></app-example1>

    <app-example2></app-example2>

    <app-example3></app-example3>

    <app-example4></app-example4>

    <app-example5></app-example5>

    <app-example-infinite-scroll></app-example-infinite-scroll>

    <app-example-virtual-scroll></app-example-virtual-scroll>

    <app-example-nested-virtual-scroll></app-example-nested-virtual-scroll>

<!--    <app-example-image></app-example-image>-->

  </div>

  <app-footer></app-footer>

</ng-scrollbar>

<div class="go-top">
  <button *ngIf="showGoToTopButton"
          mat-fab
          color="accent"
          (click)="scrollable.scrollToTop(800)">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
