<h3>Author</h3>
<div class="author">
  <div class="author-photo">
    <img src="https://pbs.twimg.com/profile_images/1080985587581100032/6-F9vqru_400x400.jpg" alt="author-photo">
  </div>
  <div class="author-info">
    <p>Murhaf Sousli</p>
    <p><span>Software Engineer</span></p>
    <div class="author-twitter">
      <a href="https://twitter.com/murhafsousli?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @murhafsousli</a>
    </div>
    <div class="author-twitter">
      <a class="github-button" href="https://github.com/murhafsousli" aria-label="Follow @murhafsousli on GitHub">Follow @murhafsousli</a>
    </div>
  </div>
</div>
