@use 'ngx-scrollbar' as scrollbar;

.outer-ng-scrollbar {
  @include scrollbar.ng-scrollbar-overrides((
    container-offset: 3px,
    track-thickness: 10px,
    track-hover-thickness: 10px,
    thumb-color: var(--color-primary),
    thumb-hover-color: var(--color-primary),
    thumb-active-color: var(--color-primary),
    thumb-min-size: 20px
  ));
}

.example {
  overflow: hidden;
}

.cdk-virtual-scroll-viewport {
  height: 100%;
}

.cdk-virtual-scroll-orientation-horizontal ::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: flex;
  }
}


.cards {
  display: flex;
  flex-direction: row;
}

.mat-mdc-card {
  margin-bottom: 5em;
  color: white;

  ::ng-deep {

    ng-scrollbar {
      height: 100%;
    }

    .scrollbar-control {
      //background-color: var(--color-infinite-scroll-example-bar-bg);
    }

    .inner-ng-scrollbar {
      --scrollbar-track-hover-thickness: 10px;

      .scrollbar-control {
        background-color: transparent;
      }
    }
  }

  .mat-mdc-card-content {
    height: 400px;
  }
}

.horizontal-scrollable-item {
  height: 120px;
  display: flex;
  flex-direction: column;

  @include scrollbar.ng-scrollbar-overrides((
    container-offset: 7px,
    track-thickness: 6px,
    track-hover-thickness: 6px,
    thumb-color: var(--color-primary),
    thumb-hover-color: var(--color-primary),
    thumb-active-color: var(--color-primary),
    thumb-min-size: 20px
  ));

  color: var(--mat-sidenav-content-text-color);

  &:nth-child(odd) {
    background: var(--surface-container-highest);
  }

  &:nth-child(even) {
    background: var(--surface-container-high);
  }

  ng-scrollbar {
    flex: 1;

    ::ng-deep {
      .ng-scroll-viewport {
        border-radius: var(--card-viewport-border-radius);
      }
    }
  }
}

h4 {
  margin: 10px;
  font-size: 30px;
  position: absolute;
  z-index: 999;
  color: var(--mat-sidenav-content-text-color);
}

.pre-content, .post-content {
  width: 20px;
  height: 100%;
}
