.example {
  overflow: hidden;
  border-radius: 3px;
}

.cdk-virtual-scroll-orientation-horizontal ::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: flex;
  }
}

.outer-ng-scrollbar {
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.05);
  --scrollbar-track-color: var(--color-track-orange-passion);
  --scrollbar-thumb-color: var(--color-orange-passion);
  --scrollbar-thickness: 12;
  --scrollbar-border-radius: 10px;
}

.cdk-virtual-scroll-orientation-vertical ::ng-deep > .ng-scroll-content {
  background: #643761;
}

.cards {
  display: flex;
  flex-direction: row;
}

.mat-mdc-card {
  margin-bottom: 5em;
  color: white;

  ::ng-deep {

    ng-scrollbar {
      height: 100%;
    }

    .scrollbar-control {
      background-color: var(--color-infinite-scroll-example-bar-bg);
    }

    .inner-ng-scrollbar {
      --scrollbar-hover-thickness: 10;

      .scrollbar-control {
        background-color: transparent;
      }
    }
  }

  .mat-mdc-card-content {
    height: 400px;
  }
}

.horizontal-scrollable-item {
  height: 120px;
  display: flex;
  flex-direction: column;

  &:nth-child(odd) {
    background: #f1ffff;
  }

  &:nth-child(even) {
    background: #ecf8ff;
  }

  ng-scrollbar {
    flex: 1;
    --scrollbar-track-color: #d3d3d3;
    --scrollbar-offset: 7;
    --scrollbar-thickness: 6;
    --scrollbar-thumb-color: var(--color-accent);
  }
}

h4 {
  margin: 10px;
  font-size: 30px;
  position: absolute;
  z-index: 999;
  color: var(--color-primary);
}

.pre-content, .post-content {
  width: 20px;
  height: 100%;
}
