<mat-card class="mat-elevation-z16">
  <mat-card-header>
    <mat-card-title>
      Nested CDK Virtual Scroll Example
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-scrollbar externalViewport
                  cdkVirtualScrollViewport
                  disableSensor
                  class="outer-ng-scrollbar">
      <cdk-virtual-scroll-viewport itemSize="120"
                                   class="example-viewport">

        <div class="horizontal-scrollable-item" *cdkVirtualFor="let itemY of items">
          <h4>{{ itemY }}</h4>

          <ng-scrollbar externalViewport
                        cdkVirtualScrollViewport
                        disableSensor
                        class="inner-ng-scrollbar">
            <cdk-virtual-scroll-viewport itemSize="100"
                                         orientation="horizontal">
              <div class="cards">
                <app-card *cdkVirtualFor="let itemX of horizontal" [x]="itemX" [y]="itemY"></app-card>
              </div>
            </cdk-virtual-scroll-viewport>
          </ng-scrollbar>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-scrollbar>
  </mat-card-content>
</mat-card>
