<form [formGroup]="form">

  @for (c of cssVariablesDict | keyvalue; track c.key) {
    <div class="input">
      <span>{{ c.key }}</span>
      @if (c.value.controlType === 'color') {
        <input type="text"
               [formControlName]="c.key"
               [colorPicker]="form.get(c.key).value"
               [value]="form.get(c.key).value"
               (colorPickerChange)="form.get(c.key).setValue($event)">
      } @else {
        <input type="text" [formControlName]="c.key">
      }
    </div>
  }
</form>
