.example-virtual-scroll {
  overflow: hidden;
  height: 200px;

  .mat-mdc-list-base {
    padding: 0;
  }

  .ng-scroll-viewport {
    height: 100%;
    border-radius: var(--card-viewport-border-radius);
  }

  .example-item {
    height: 50px;

    color: var(--mat-sidenav-content-text-color);

    &:nth-child(odd) {
      background: var(--surface-container-highest);
    }

    &:nth-child(even) {
      background: var(--surface-container-high);
    }
  }
}

.example-header,
.example-footer {
  height: 100px;
  background-color: var(--color-accent);
  color: var(--color-accent-hover);
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
}
