@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    track-offset: 0px,
    track-shape: 0px,
    track-thickness: 6px,
    track-hover-thickness: 10px,
    thumb-color: var(--color-primary),
    thumb-hover-color: var(--color-primary),
    thumb-active-color: var(--color-primary),
  ));
}

ng-scrollbar {
  ::ng-deep {
    .ngx-datatable.material {
      .datatable-body .datatable-body-row .datatable-body-cell,
      .datatable-footer,
      .datatable-footer .datatable-pager a,
      .datatable-footer .datatable-pager li.disabled a {
        color: var(--mat-sidenav-content-text-color) !important;
      }

      .datatable-header,
      .datatable-footer,
      .datatable-header .datatable-header-cell {
        color: var(--mat-sidenav-content-text-color);
        background-color: var(--surface-container);
      }

      .datatable-header .resize-handle {
        border-right: 1px solid var(--color-primary);
      }

      &:not(.cell-selection) {
        .datatable-body-row:hover,
        .datatable-body-row:hover .datatable-row-group {
          background-color: var(--color-accent);
        }
      }
    }
  }
}

.example-ngx-datatable {
  border-radius: 3px;
  overflow: hidden;
}

.ngx-datatable.material {
  color: var(--mat-sidenav-content-text-color);
  background-color: var(--surface-container-high);
}
