ng-scrollbar {
  --scrollbar-thickness: 6;
  --scrollbar-hover-thickness: 10;
  --scrollbar-offset: 0;
  --scrollbar-border-radius: 0;
  --scrollbar-thumb-color: var(--color-primary);
  --scrollbar-track-color: rgb(0 0 0 / 20%);

  ::ng-deep {
    .ng-scroll-content {
      display: block;
    }
  }
}
.example-ngx-datatable {
  border-radius: 3px;
  overflow: hidden;
}
