<div class="example example2">
  <div class="sample">
    <header>Title</header>
    <ng-scrollbar>
      <ul>
        <li></li>
        <li class="not">Clean the house</li>
        <li class="ok">Take out the thrash</li>
        <li class="not">Do the dishes</li>
        <li class="ok">Feed the dog</li>
        <li class="ok">Mow the law</li>
        <li class="not">Clean the pool</li>
        <li class="ok">Have a beer</li>
        <li class="not">Clean the house</li>
        <li class="ok">Take out the thrash</li>
        <li class="not">Do the dishes</li>
        <li class="ok">Feed the dog</li>
        <li class="ok">Mow the law</li>
        <li class="not">Clean the pool</li>
        <li class="ok">Have a beer</li>
        <li class="not">Clean the house</li>
        <li class="ok">Take out the thrash</li>
        <li class="not">Do the dishes</li>
        <li class="ok">Feed the dog</li>
        <li class="ok">Mow the law</li>
        <li class="not">Clean the pool</li>
        <li class="ok">Have a beer</li>
        <li></li>
      </ul>
    </ng-scrollbar>
  </div>
</div>

<div class="style-source">
  <b>Source image and inspiration from <a href="https://dribbble.com/shots/229317-Code">Orman Clark</a></b>
</div>
