<div class="testing-slider">
  <span>Component size</span>
  <mat-slider color="accent" [min]="70" [max]="100" [step]="3">
    <input matSliderThumb [(ngModel)]="value.componentSize">
  </mat-slider>
</div>
<div class="testing-slider">
  <span>Content length</span>
  <mat-slider color="accent" [min]="1" [max]="9">
    <input matSliderThumb [(ngModel)]="value.contentSize" >
  </mat-slider>
</div>
<div class="testing-slider">
  <span>Content width</span>
  <mat-slider color="warn"
              [min]="100" [max]="500" [step]="100"
              [displayWith]="contentWidthDisplayWith">
    <input matSliderThumb [(ngModel)]="value.contentWidth">
  </mat-slider>
</div>
