@use 'ngx-scrollbar' as scrollbar;

:host {
  @include scrollbar.ng-scrollbar-overrides((
    track-offset: 6px,
    track-shape: 7px,
    track-thickness: 10px,
    track-hover-thickness: 10px,
    track-color: var(--surface-container-low),
    thumb-color: var(--color-primary),
  ));
}

.container {
  max-width: 550px;
}
