:host {
  display: block;
  overflow: hidden;
  --scrollbar-color: transparent;
  --scrollbar-container-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
  --scrollbar-border-radius: 4px;
  --scrollbar-size: 6px;
  --scrollbar-padding: 8px;
  --scroll-view-margin: 0;
  --scroll-view-color: transparent;

  // Add overflow-y to the view only when vertical scrollbar is shown
  &[trackY='true'] > .ng-scrollbar-layout > .ng-scrollbar-layout > .ng-scroll-view-container > .ng-scroll-view {
    overflow-y: scroll;
  }

  // Add overflow-x to the view only when horizontal scrollbar is shown
  &[trackX='true'] > .ng-scrollbar-layout > .ng-scrollbar-layout > .ng-scroll-view-container > .ng-scroll-view {
    overflow-x: scroll;
  }

  // Scrollbar X position
  > .ng-scrollbar-x-layout {
    flex-direction: column;

    &.ng-scrollbar-invert {
      flex-direction: column-reverse;
    }
  }

  // Scrollbar Y position
  > .ng-scrollbar-x-layout > .ng-scrollbar-y-layout {
    flex-direction: row;

    &.ng-scrollbar-invert {
      flex-direction: row-reverse;
    }
  }

  // Compact mode, scrollbars are contained in the scroll view
  &[compact='true'] {

    // Scrollbar X position in compact mode
    > .ng-scrollbar-x-layout {

      > ng-scrollbar-x {
        position: absolute;
        bottom: 0;
      }

      &.ng-scrollbar-invert > ng-scrollbar-x {
        top: 0;
        bottom: unset;
      }
    }

    // Scrollbar Y position in compact mode
    > .ng-scrollbar-x-layout > .ng-scrollbar-y-layout {

      > ng-scrollbar-y {
        position: absolute;
        right: 0;
        left: unset;
      }

      &.ng-scrollbar-invert > ng-scrollbar-y {
        right: unset;
        left: 0;
      }
    }
  }

  // Auto hide scrollbars
  &[autoHide='true'] {
    > .ng-scrollbar-layout > ng-scrollbar-x,
    > .ng-scrollbar-layout > .ng-scrollbar-layout > ng-scrollbar-y {
      opacity: 0;
      transition: opacity 120ms ease-out;
    }

    &:hover,
    &:active,
    &:focus {
      > .ng-scrollbar-layout > ng-scrollbar-x,
      > .ng-scrollbar-layout > .ng-scrollbar-layout > ng-scrollbar-y {
        opacity: 1;
        transition: opacity 340ms ease-out;
      }
    }
  }
}

:host,
.ng-scrollbar-layout,
.ng-scroll-view {
  position: relative;
  height: 100%;
  width: 100%;
}

.ng-scrollbar-layout {
  display: flex;
  // Fix horizontal scrollbar in non-compact mode on Firefox and Edge
  // https://stackoverflow.com/questions/53873943/flexbox-column-child-goes-out-of-bound-in-edge
  min-height: 0;
}

.ng-scroll-view-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: var(--scroll-view-margin);
}

.ng-scroll-view {
  box-sizing: content-box;
  transform: translateZ(0);
  background: var(--scroll-view-color);
  -webkit-overflow-scrolling: touch;
}

// Show scrollbars only when the content is larger than scroll view
ng-scrollbar-x, ng-scrollbar-y {
  display: none;
  box-sizing: border-box;
  padding: var(--scrollbar-padding);
  background: var(--scrollbar-container-color);

  &.ng-scrollbar-visible {
    display: block;
  }
}

ng-scrollbar-y {
  top: 0;
  bottom: 0;
}

ng-scrollbar-x {
  left: 0;
  right: 0;
}

::ng-deep {
  ng-scrollbar-y {
    .ng-scrollbar {
      width: var(--scrollbar-size);
    }

    .ng-scrollbar-thumb {
      width: 100%;
    }
  }

  ng-scrollbar-x {
    .ng-scrollbar {
      height: var(--scrollbar-size);
    }

    .ng-scrollbar-thumb {
      height: 100%;
    }
  }

  .ng-scrollbar {
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: var(--scrollbar-border-radius);
    background-color: var(--scrollbar-color);
  }

  .ng-scrollbar-thumb {
    box-sizing: border-box;
    position: relative;
    width: 0;
    height: 0;
    border-radius: inherit;
    background-color: var(--scrollbar-thumb-color);
    transform: translate3d(0, 0, 0);
    transition: height ease-out 150ms;

    &:hover,
    &:active {
      background-color: var(--scrollbar-thumb-hover-color);
    }
  }

  // In case of virtual scroll view port is used
  cdk-virtual-scroll-viewport {
    height: 100%;
  }

  ng-scrollbar {
    // Hide the overflow from the default viewport
    &[customView='true'] .ng-scroll-view{
      overflow: hidden !important;
    }

    // Add overflow-y to the view only when vertical scrollbar is shown
    &[trackY='true'] > .ng-scrollbar-layout > .ng-scrollbar-layout > .ng-scroll-view-container {
      > .ng-scroll-view, > cdk-virtual-scroll-viewport {
        overflow-y: scroll;
      }
    }

    // Add overflow-x to the view only when horizontal scrollbar is shown
    &[trackX='true'] > .ng-scrollbar-layout > .ng-scrollbar-layout > .ng-scroll-view-container {
      > .ng-scroll-view, > cdk-virtual-scroll-viewport {
        overflow-x: scroll;
      }
    }
  }
}
