<div class="ng-scrollbar-container">

  <div cdkScrollable smoothScroll class="ng-scrollbar-view {{viewClass}}" [ngStyle]="viewStyle | async">
    <ng-content></ng-content>
  </div>

  <ng-scrollbar-vertical *ngIf="!disabled && trackY"
                         [class.ng-scrollbar-visible]="displayY | async"
                         [barClass]="barClass"
                         [thumbClass]="thumbClass"
                         [scrollToDuration]="scrollToDuration">
  </ng-scrollbar-vertical>

  <ng-scrollbar-horizontal *ngIf="!disabled && trackX"
                           [class.ng-scrollbar-visible]="displayX | async"
                           [barClass]="barClass"
                           [thumbClass]="thumbClass"
                           [scrollToDuration]="scrollToDuration">
  </ng-scrollbar-horizontal>

</div>
