<div class="ng-scroll-view-container">
  <div #viewPort
       smoothScroll
       class="ng-scroll-view {{viewClass}}"
       (cdkObserveContent)="update()"
       [cdkObserveContentDisabled]="disabled || customViewPort || !autoUpdate">
    <ng-content></ng-content>
  </div>
</div>

<ng-container *ngIf="!disabled">
  <ng-custom-scrollbar type="vertical"
                       class="ng-custom-scrollbar"
                       *ngIf="direction === 'both' || direction === 'vertical'"
                       [class.ng-scrollbar-visible]="showScrollbarY">
  </ng-custom-scrollbar>

  <ng-custom-scrollbar type="horizontal"
                       class="ng-custom-scrollbar"
                       *ngIf="direction === 'both' || direction === 'horizontal'"
                       [class.ng-scrollbar-visible]="showScrollbarX">
  </ng-custom-scrollbar>
</ng-container>

<span style="grid-area: empty"></span>
