@use 'ngx-scrollbar' as scrollbar;

.mat-mdc-select {
  //--mat-select-enabled-arrow-color: rgb(255 255 255 / 54%);
  margin-bottom: 30px !important;
  color: white;
}

::ng-deep {
  .ng-scrollbar.mat-mdc-select-panel {
    @include scrollbar.ng-scrollbar-overrides((
      track-shape: 8px,
      track-offset: 0px,
      container-offset: 6px,
      track-thickness: 8px,
      track-hover-thickness: 8px,
      thumb-color: var(--color-primary)
    ));
  }
}
