<mat-card class="example example-mat-select mat-elevation-z16">
  <mat-card-content>
    <mat-select [value]="items[8]">
      <ng-scrollbar matSelectViewport>
        @for (item of items; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
        }
      </ng-scrollbar>
    </mat-select>
  </mat-card-content>
</mat-card>

<mat-card class="example example-mat-select mat-elevation-z16">
  <mat-card-content>
    <mat-select matSelectScrollbar [value]="items[8]">
      @for (item of items; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </mat-card-content>
</mat-card>
