<div class="toggle-container">
  <span>Function</span>

  <mat-button-toggle-group class="middle"
                           aria-label="Scroll Function"
                           [(ngModel)]="scrollFunc">
    <mat-button-toggle value="scrollTo">Scroll To</mat-button-toggle>
    <mat-button-toggle value="scrollToElement">Scroll To Element</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="toggle-container">
  <span>Axis-Y</span>
  <mat-button-toggle-group class="middle"
                           aria-label="ScrollTo axis Y property"
                           [(ngModel)]="axisYProperty"
                           [disabled]="center()">
    <mat-button-toggle value="top">Top</mat-button-toggle>
    <mat-button-toggle value="bottom">Bottom</mat-button-toggle>
    <mat-button-toggle value="unset">Unset</mat-button-toggle>
  </mat-button-toggle-group>
</div>


<div class="toggle-container">
  <span>Axis-X</span>

  <mat-button-toggle-group class="middle"
                           aria-label="ScrollTo axis X property"
                           [(ngModel)]="axisXProperty"
                           [disabled]="center()">
    <mat-button-toggle value="start">Start</mat-button-toggle>
    <mat-button-toggle value="end">End</mat-button-toggle>
    <mat-button-toggle value="left">Left</mat-button-toggle>
    <mat-button-toggle value="right">Right</mat-button-toggle>
    <mat-button-toggle value="unset">Unset</mat-button-toggle>
  </mat-button-toggle-group>

</div>


@if (scrollFunc() === 'scrollToElement') {
  <div class="toggle-container">
    <span>Center</span>
    <mat-button-toggle-group class="middle"
                             aria-label="Align to center"
                             [(ngModel)]="center">
      <mat-button-toggle [value]="true">True</mat-button-toggle>
      <mat-button-toggle [value]="false">False</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
}

<div class="input-container">
  <mat-form-field class="example-full-width">
    <mat-label>Duration</mat-label>
    <input type="number" matInput [(ngModel)]="duration">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    @if (axisYProperty() !== 'unset') {
      <mat-label>{{ axisYProperty() }}</mat-label>
    }
    <input matInput
           type="number"
           [(ngModel)]="axisYValue"
           [disabled]="axisYProperty() === 'unset' || center()">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    @if (axisXProperty() !== 'unset') {
      <mat-label>{{ axisXProperty() }}</mat-label>
    }
    <input matInput
           type="number"
           [(ngModel)]="axisXValue"
           [disabled]="axisXProperty() === 'unset' || center()">
  </mat-form-field>
</div>

<div class="toggle-container">
  <span>Result</span>

  <div class="middle display-function">{{ displayFunction() }}</div>

  <div>
    <button mat-mini-fab color="primary" [class.changed]="reached()" (click)="scrollTo.emit(options())">
      <mat-icon color="accent">play_arrow</mat-icon>
    </button>
  </div>
</div>
