@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides((
    label-text-size: 12px
  ));

  display: flex;
  flex-direction: column;
  padding: 1em;

  ::ng-deep {
    .mdc-evolution-chip-set__chips {
      justify-content: center;
    }
  }
}

.notifier-wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
}

.reached-event-title {
  margin-bottom: 5px;
}

.mat-mdc-chip {
  text-align: center;
  transition: background-color ease-out 1s;
  width: 66px;

  ::ng-deep {
    [matchipaction] {
      width: 100%;
    }
  }

  &.changed {
    transition: unset !important;
  }
}

.reached {
  .mat-mdc-chip.changed {
    background-color: var(--color-highlight) !important;
    transition: unset !important;
  }
}

.dropped {
  .mat-mdc-chip.changed {
    background-color: var(--color-highlight-dropped) !important;
  }
}
