@use 'ngx-scrollbar' as scrollbar;

:host {
  --p-highlight-focus-background: var(--color-primary);

  @include scrollbar.ng-scrollbar-overrides((
    container-offset: 6px,
    track-offset: 0
  ));

  ::ng-deep {
    .p-frozen-column, .p-datatable-frozen-tbody {
      font-weight: bold;
    }

    table {
      font-size: 14px;
    }

    .p-datatable .p-datatable-thead > tr > th {
      background-color: var(--surface-container);
      color: #ece0da;
      border: var(--surface-container-highest);
    }

    .p-datatable .p-datatable-tbody > tr {
      background-color: transparent;
      color: #ece0da;

      &:nth-child(odd) {
        background: var(--surface-container-highest);
      }

      &:nth-child(even) {
        background: var(--surface-container-high);
      }

      > td {
        border: none;
      }
    }
  }
}

.p-select {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 50px;
  color: #ece0da;

  &:nth-child(odd) {
    background: var(--surface-container-highest);
  }

  &:nth-child(even) {
    background: var(--surface-container-high);
  }
}

