@import "../styles/compact-x";

::ng-deep {
  .ng-scrollbar {
    > .ng-custom-scrollbar[type="horizontal"] {
      grid-area: scrollbar-x;
      height: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);

      > .ng-scrollbar-container {
        height: var(--scrollbar-size);
        width: calc(100% - var(--scrollbar-size) * 2);

        > .ng-scrollbar-thumbnail {
          min-width: var(--scrollbar-min-thumbsize);
          height: 100%;
        }
      }
    }

    // Compact Mode
    &[appearance="compact"] {
      @include compactHorizontalScrollbarStyles();
    }
  }
}
