@import "../styles/compact-y";

::ng-deep {
  .ng-scrollbar {
    > .ng-custom-scrollbar[type="vertical"] {
      grid-area: scrollbar-y;
      width: calc(var(--scrollbar-size) + var(--scrollbar-padding) * 2);

      > .ng-scrollbar-container {
        width: var(--scrollbar-size);
        height: calc(100% - var(--scrollbar-size) * 2);

        > .ng-scrollbar-thumbnail {
          min-height: var(--scrollbar-min-thumbsize);
          width: 100%;
        }
      }
    }

    // Compact Mode
    &[appearance="compact"] {
      @include compactVerticalScrollbarStyles();
    }
  }
}
