@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import '~normalize.css';
@import '~font-awesome/css/font-awesome.css';
@import 'assets/buttons';

h1 {
  font-size: 2.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

.style-source {
  opacity: 0.5;
  text-align: center;
  margin-bottom: 6em;
  font-size: 0.6em;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sample {
  border-radius: 3px;
}

.example {
  position: relative;
  overflow: hidden;
  margin: 0.5em;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 3em;
  box-shadow: 0 0 0 2px #E4E9EB;
  text-shadow: none;
  margin-bottom: 2em;
}
