@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-orange, 400);
$app-warn: mat-palette($mat-red);
$app-success: mat-palette($mat-light-green);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

:root {
  --color-primary: #{mat-color($app-primary)};
  --color-accent: #{mat-color($app-accent)};
  --color-warn: #{mat-color($app-warn)};
  --color-success: #{mat-color($app-success)};
  --color-app-background: #{mat-color(mat-palette($mat-grey, 100))};
  //--color-app-background: #{mat-color(mat-palette($mat-blue, 300))};
  --color-example1: #{mat-color(mat-palette($mat-deep-orange, 700))};
  --color-example1-light: #{mat-color(mat-palette($mat-deep-orange, 400))};
  --color-example2: #{mat-color(mat-palette($mat-red, 200))};
  --color-example3: #{mat-color(mat-palette($mat-yellow, 700))};
  --color-example4: #{mat-color(mat-palette($mat-grey, 100))};
  --color-example5: #{mat-color(mat-palette($mat-green, 100))};
  --color-examplex-primary: #{mat-color(mat-palette($mat-yellow, 500))};
  --color-examplex-accent: #{mat-color(mat-palette($mat-blue, 700))};
}

h1 {
  font-size: 2.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

app-example-image,
app-example-virtual-scroll,
app-example-nested-virtual-scroll,
app-example-x,
app-example1,
app-example2,
app-example3,
app-example4,
app-example5 {
  padding: 2em 0;
  display: block;
  box-sizing: border-box;
}

.style-source {
  opacity: 0.5;
  text-align: center;
  margin-bottom: 6em;
  font-size: 0.6em;
}

.mat-card-content {
  padding-top: 2em;
}

.mat-button-toggle-group {
  height: 36px;

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px;
    width: 100px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--color-app-background);
}
