footer {
  background: var(--color-primary);
  color: white;
  padding: 1em 1em 4em;
  margin: 2em auto 0;

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: #55595c;
  }

  img {
    display: block;
  }
}
