<div class="testing-slider">
  <span>Content length</span>
  <mat-slider color="accent"
              min="1"
              max="9"
              discrete
              [displayWith]="contentWidthDisplayWith">
    <input matSliderThumb [(ngModel)]="value().contentSize">
  </mat-slider>
</div>
<div class="testing-slider">
  <span>Content width</span>
  <mat-slider color="accent"
              min="1"
              max="8"
              step="1"
              discrete
              [displayWith]="contentWidthDisplayWith">
    <input matSliderThumb [(ngModel)]="value().contentWidth">
  </mat-slider>
</div>
