:host {
  display: flex;
  gap: 16px;
}

span {
  padding: 0 8px;
  display: block;
}

.testing-slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

mat-divider {
  margin-left: -16px;
  margin-right: -16px;
}
