button {
  margin: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  &.mini {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 12px;
  }
}

/* Gradient buttons */
.btn-gradient {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Gradient - ugly css is ugly */
.btn-gradient.cyan {
  background: rgba(27, 188, 194, 1);
  background: linear-gradient(rgba(27, 188, 194, 1) 0%, rgba(24, 163, 168, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}

.btn-gradient.red {
  background: rgba(250, 90, 90, 1);
  background: linear-gradient(rgba(250, 90, 90, 1) 0%, rgba(232, 81, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0);
}

.btn-gradient.orange {
  background: rgba(255, 105, 30, 1);
  background: linear-gradient(rgba(255, 105, 30, 1) 0%, rgba(230, 95, 28, 1) 100%);
}

.btn-gradient.blue {
  background: rgba(102, 152, 203, 1);
  background: linear-gradient(to bottom, rgba(102, 152, 203, 1) 0%, rgba(92, 138, 184, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0);
}

.btn-gradient.purple {
  background: rgba(203, 153, 197, 1);
  background: linear-gradient(to bottom, rgba(203, 153, 197, 1) 0%, rgba(181, 134, 176, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb99c5', endColorstr='#b586b0', GradientType=0);
}

.btn-gradient.yellow {
  background: rgba(240, 210, 100, 1);
  background: linear-gradient(rgba(240, 210, 100, 1) 0%, rgba(229, 201, 96, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d264', endColorstr='#e5c960', GradientType=0);
  color: #575110;
}

.btn-gradient.green {
  background: rgba(130, 200, 160, 1);
  background: linear-gradient(to bottom, rgba(130, 200, 160, 1) 0%, rgba(124, 185, 149, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0);
}

.btn-gradient.red:active {
  background: #E35252;
}

.btn-gradient.orange:active {
  background: #E8601B;
}

.btn-gradient.cyan:active {
  background: #169499;
}

.btn-gradient.blue:active {
  background: #608FBF;
}

.btn-gradient.purple:active {
  background: #BD8EB7;
}

.btn-gradient.yellow:active {
  background: #DBC05B;
}

.btn-gradient.green:active {
  background: #72B08E;
}
